<div class="c-card js-tool-card s-tool__view__card c-card--full">
  <div class="c-card__inner">
    <div class="c-card__content u-pad-left-none@large">
      <div class="o-layout o-layout--center o-layout--middle">
        <div class="o-layout__item o-layout__item--6/12@large">
          <div class="c-circle-graph js-tool-score">
            <div class="c-circle-graph__content">
              <p class="c-circle-graph__title">Prepared Practitioner</p>
            </div>
          </div>
          <p class="js-tool-score"></p>
        </div>
        <div class="o-layout__item o-layout__item--6/12@large">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam laborum voluptates, vero ex nobis, temporibus nostrum ipsam laudantium quidem tempore fugit quisquam autem quam odio blanditiis beatae aliquam perspiciatis distinctio?</p>
        </div>
      </div>
    </div>

    {{!-- Card actions (buttons, etc) --}}
    <div class="c-card__actions">
        <button class="c-btn c-btn--primary js-tool-next">Build My MVP</button>
    </div>
  </div>
</div>