<div class="c-steps js-tool-nav">
  <span class="c-steps__progress"></span>
  <span class="c-steps__progress-complete js-tool-progress"></span>
  <ul class="c-steps__list js-tool-nav-list">
    <li class="c-steps__item js-tool-nav-item js-tool-nav-template">
      <span class="c-steps__point js-tool-nav-point"></span>
      <span class="c-steps__title js-tool-nav-title"></span>
    </li>
  </ul>
</div>