// TEXT UTILITIES

@each $name, $value in $wcss-typography-scale {
  .u-text-#{$name} {
    @include wcss-font-size($name, true);
  }
}

.u-text-uppercase {
  text-transform: uppercase !important;
}

.u-text-sans {
  font-family: $font-sans !important;
}

.u-text-serif {
  font-family: $font-serif !important;
}

.u-text-bold {
  font-weight: bold !important;
}

.u-text-center {
  text-align: center !important;
}
