{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Guide Page sample Template
* ==========
*/
--}}

<article class="c-article t-purple" id="case-studies">

  {{> nav contrast="true"}}

  <div class="c-article__header c-article__header--bg-repeater">
    <h1 class="c-article__title">{{pageName}}</h1>
  </div>

  <div class="c-article__main">
    <div class="c-article__content">
        <p class="c-article__intro">{{pageTitle}}</p>
				<p>{{pageText}}</p>
    </div>
    <div class="c-article__content">

			<div class="c-card-list c-card-list--overlapped">

				{{#each caseStudies}}

					{{> caseStudyCard this}}

				{{/each}}

			</div>

		</div>
  </div>

</article>

{{> footer}}
