{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Guide Page sample Template
* ==========
*/
--}}


<div class="container-fluid home">
	
	<h1>{{title}}</h1>
	<h4>{{byline}}</h4>
	{{#each buttons}}
	<button>{{this}}</button>
	{{/each}}
</div> <!-- .container-fluid -->