{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Guide Page sample Template
* ==========
*/
--}}

<div class="c-box c-box--green">

	{{> nav contrast="true"}}
	
	<div class="c-hero c-hero--contrast u-marg-top-huge">
		<div class="o-wrapper">
			<h1 class="c-hero__title u-text-mega">{{title}}</h1>
			<h2 class="u-text-serif u-text-uppercase u-text-epsilon">{{{byline.html}}}</h2>
			<p class="u-text-serif u-text-epsilon">by Eric Gordon</p>
			<a href="/guide/executive-summary" class="c-btn c-btn--large c-btn--green u-marg-top-small u-marg-bottom u-marg-right-small u-marg-left-small">{{buttons.[0]}}</a>
			<a href="https://elabhome.blob.core.windows.net/city-accelerator/ca-implementation-guide-12-20.pdf" class="c-btn c-btn--large c-btn--ghost u-marg-top-small u-marg-bottom u-marg-right-small u-marg-left-small">{{buttons.[1]}}</a>
		</div>
	</div>

	{{> footer}}

	{{> guideSidebar}}

</div>
