{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Guide Page sample Template
* ==========
*/
--}}

{{> nav}}

<div>

	<div class="row">

		<section id="section-intro">
			{{#each guides}}
				{{#ifeq this.section 'Intro'}}
					{{> guidePage this}}
				{{/ifeq}}
			{{/each}}
		</section>

		<section id="section-summary">
			{{#each guides}}
				{{#ifeq this.section 'Summary'}}
					{{> guidePage this}}
				{{/ifeq}}
			{{/each}}
		</section>

		<section id="section-calibrating">
			{{#each calibratingGuides}}
					{{!-- {{#ifeq this.isSection true}} --}}
						{{> guidePage this}}
					{{!-- {{/ifeq}} --}}
			{{/each}}


		</section>

		<section id="section-charting">
			{{#each chartingGuides}}
					{{!-- {{#ifeq this.isSection true}} --}}
						{{> guidePage this}}
					{{!-- {{/ifeq}} --}}
			{{/each}}
		</section>

		<section id="section-going">
			{{#each goingGuides}}
					{{!-- {{#ifeq this.isSection true}} --}}
						{{> guidePage this}}
					{{!-- {{/ifeq}} --}}
			{{/each}}
		</section>

	</div>

</div> <!-- .container-fluid -->

{{> footer}}
