{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}

<div class="t-blue">
  <div class="o-box">
    <div class="o-wrapper">

      <div class="c-card c-card--full">
        <div class="c-card__cover">
          <img src="http://placehold.it/500x500" alt="" class="c-card__cover__img">
        </div>
        <div class="c-card__inner">
          <div class="c-card__icon c-icon">
            <img src="http://placehold.it/50x50" alt="" class="c-icon__img">
          </div>
          <div class="c-card__content">
            <p class="c-card__current-card">Implementation &mdash; 7 of 7</p>
            <p class="c-card__title">I'm a full card</p>
            <p class="c-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt illum unde quod officia optio provident? Similique quaerat vitae quia totam, illo quam sequi provident, pariatur molestias minima numquam aperiam quis!</p>
            <p class="c-card__helper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi minima amet nihil quod totam quam corporis. Dicta sunt mollitia tenetur officia eaque quasi, earum quaerat adipisci reprehenderit quae harum ad.</p>
          </div>
          <div class="c-card__actions">
            <button class="c-btn c-btn--secondary">Back</button>
            <button class="c-btn c-btn--primary">Next</button>
          </div>
        </div>
      </div>

      <div class="c-card c-card--mini">
        <div class="c-card__inner">
          <div class="c-card__content">
            <div class="c-card__icon c-icon">
              <img src="http://placehold.it/50x50" alt="" class="c-icon__img">
            </div>
            <p class="c-card__title">I'm a mini card</p>
            <p class="c-card__text">Same markup as a full card, different presentation</p>
            <p class="c-card__helper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi minima amet nihil quod totam quam corporis. Dicta sunt mollitia tenetur officia eaque quasi, earum quaerat adipisci reprehenderit quae harum ad.</p>
          </div>
          <div class="c-card__actions">
            <button class="c-btn">Back</button>
            <button class="c-btn">Next</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>