{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}

{{> nav}}

<div class="o-box c-box c-box--city">
	<div class="c-hero">
		<div class="o-wrapper">
			<h1 class="c-hero__title">{{{title}}}</h1>
			<p class="c-hero__sub-title">{{{header}}}</p>
			<a href="#" class="c-btn c-btn--large c-btn--blue">Get Started</a>
		</div>
	</div>
</div>

<div class="o-box c-box c-box--map u-pad-top-large u-pad-bottom-large">
	<div class="c-card-list c-card-list--overlapped">
		<div class="o-wrapper o-wrapper--large">
			<div class="c-card-list__item t-light-blue">
				{{> components/card
						reverse=true
						title="The Toolkit"
						text=theToolkit.html
						link-anchor = "Hello"
						link-url = "/toolkit"
				}}
			</div>
			<div class="c-card-list__item t-green">
				{{> components/card
						title="The Guide"
						text=theGuide.html
						link-anchor = "Hello"
						link-url = "/guide"
				}}
			</div>
			<div class="c-card-list__item t-neutral">
				{{> components/card
						reverse=true
						title="The Game"
						text=theGame.html
						link-anchor = "Hello"
						link-url = "/guide"
				}}
			</div>
			<div class="c-card-list__item t-purple">
				{{> components/card
						title="The Case Studies"
						text=theCaseStudies.html
						link-anchor = "Read the case studies"
						link-url = "/case-studies"
				}}
			</div>
		</div>
	</div>
</div>

{{> footer}}

</div> <!-- .container-fluid -->
