{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}
<div class="o-box c-box c-box--city">
	<div class="c-hero">
		<div class="o-wrapper">
			<h1 class="c-hero__title">Accelerate your public engagement planning process.</h1>
			<p class="c-hero__sub-title">Service delivery, social issue campaigns, and public participation are aided by trusting relationships. Trust is gained through things like a shared vision and empathetic communication. Build these things in and more through public engagement planning.</p>
			<a href="#" class="c-btn c-btn--large c-btn--blue">Get Started</a>
		</div>
	</div>
</div>

<div class="o-box c-box c-box--map u-pad-top-large u-pad-bottom-large">
	<div class="c-card-list c-card-list--overlapped">
		<div class="o-wrapper o-wrapper--large">
			<div class="c-card-list__item t-light-blue">
				{{> components/card
						reverse=true
						title="The Toolkit"
						text="<p>This toolkit is a planning resource for any stage of your process. You can practice the activities whether you are just getting started, interested in exploring modalities, or ready to put the finishing touches on your public engagement plan. Each 10-60 minute activity is designed to ensure a comprehensive public engagement process that is reflective, creative, organized and effective. Implement activities in groups of 3-6 people from your team.</p>"
						link-anchor = "Hello"
						link-url = "http://google.com"
				}}
			</div>
			<div class="c-card-list__item t-green">
				{{> components/card
						title="The Guide"
						text="<p>While enthusiasm for public engagement increases, there is no formula for its implementation. Published upon the completion of the 18-month City Accelerator program on public engagement, this guide features critical concepts such as co-production and the application of design-thinking in public engagement.</p><p>Covered topics include: strategic partnerships, communications planning, and identifying value.</p>"
						link-anchor = "Hello"
						link-url = "http://google.com"
				}}
			</div>
			<div class="c-card-list__item t-neutral">
				{{> components/card
						reverse=true
						title="The Game"
						text="<p>Chart the Course is a tabletop role playing game that encourages organizational learning about public engagement through ideation and empathy-building.</p><p>Over the course of 45 minutes, players also explore engagement tactics, role play possible outcomes, and reflect on the implications of their actions. Players decide whether to invest in approaches that emphasize Transparency, Creativity, or Inclusivity.</p>"
						link-anchor = "Hello"
						link-url = "http://google.com"
				}}
			</div>
			<div class="c-card-list__item t-purple">
				{{> components/card
						title="The Case Studies"
						text="<p>Read about how Albuquerque, Atlanta, Baltimore, New Orleans, and Seattle planned public engagements. Each city addressed different issues, such as supporting immigrant-entrepreneurs and re-entering citizens.</p><p>Learn about their iterative design processes and the engagement approaches they explored.</p>"
						link-anchor = "Hello"
						link-url = "http://google.com"
				}}
			</div>
		</div>
	</div>
</div>

</div> <!-- .container-fluid -->
