{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}

<article class="c-box c-box--repeater c-article t-light-blue">

  {{> nav contrast="true"}}

  <div class="c-article__header c-article__header--bg-repeater">
    <h1 class="c-article__title">Two roads to take!</h1>
  </div>

  <div class="c-article__main u-marg-top-large u-marg-bottom">
    <div class="c-article__content c-article__content--medium">

			<div class="c-card-list c-card-list--overlapped">
				<div class="c-card-list__item">
					<div class="c-card c-card--full c-card--reverse">
					  <div class="c-card__inner">
					    <div class="c-card__content">
				        <h2 class="c-card__title">Process Builder</h2>
				        <div class="c-card__text">
                  <p>Use our interactive public engagement process builder! We'll ask you some questions to help determine what to include in your roadmap!</p>
                  <a class="c-btn c-btn--primary" href="/toolkit-builder">Launch process builder</a>
                </div>
					  	</div>
						</div>
		    	</div>
				</div>

				<div class="c-card-list__item">
					<div class="c-card c-card--full">
					  <div class="c-card__inner">
					    <div class="c-card__content">
				        <h2 class="c-card__title">Browse and select</h2>
				        <div class="c-card__text">Know what you are looking for? Just browse, select activities and add them to your roadmap!</div>
                <a class="c-btn c-btn--primary" href="/toolkit-builder#step=grid">Browse and select</a>
					  	</div>
						</div>
		    	</div>
				</div>

      </div>

		</div>
  </div>

  {{> footer}}
</article>
