{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid home">
    <div class="row">
        
    </div>

    <div class="row">

        <section id="sample">
            <p>Tool Goes Here</p>
        </section>
        
    </div>

</div> <!-- .container-fluid -->