{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}

<div class="s-tool js-tool">

  <div class="s-tool__loading js-tool-loading">
    <div class="s-tool__loading__content">
      <div class="s-tool__loading__spinner">
        {{> spinner-vector}}
      </div>
      <p class="s-tool__loading__text">Loading... <noscript><br><span class="u-text-epsilon u-marg-top-small">(Please enable Javascript to continue)</span></noscript></p>
    </div>
  </div>

  {{> nav contrast="true"}}

  <div class="s-tool__nav js-tool-steps-container">
    <div class="o-wrapper">
      {{> components/tool/steps}}
    </div>
  </div>
  <div class="s-tool__main js-tool-main">
    <div class="o-wrapper">
      <ul class="s-tool__views">
        <!-- Intro -->
        <li class="s-tool__step js-tool-step" data-step-name="Introduction" data-grid-include="false" data-nav-include="false" data-theme="t-blue">
          <ul class="s-tool__sub-views js-tool-sub-steps">
            <li class="s-tool__view js-tool-view" data-grid-include="false">
              {{> components/tool/card-intro introOne.[0]}}


            </li>
            <li class="s-tool__view js-tool-view" data-grid-include="false">
              {{> components/tool/card-intro introTwo.[0]}}
            </li>
          </ul>
        </li>

        <!-- Getting Started -->
        <li class="s-tool__step js-tool-step" data-step-name="Getting Started" data-theme="t-light-blue">
          <ul class="s-tool__sub-views js-tool-sub-steps">
            <li class="s-tool__view js-tool-view" data-grid-include="false">
              {{> components/tool/card-intro startCard.[0]}}
            </li>
            {{#each startActivities}}
            <li class="s-tool__view js-tool-view">
              {{> activityToolkit this}}
            </li>
            {{/each}}
          </ul>
        </li>

        <!-- Project Planning -->
        <li class="s-tool__step js-tool-step" data-step-name="Project Planning" data-theme="t-light-blue">
          <ul class="s-tool__sub-views js-tool-sub-steps">
            <li class="s-tool__view js-tool-view" data-grid-include="false">
              {{> components/tool/card-intro planCard.[0]}}
            </li>
            {{#each planActivities}}
            <li class="s-tool__view js-tool-view">
              {{> activityToolkit this}}
            </li>
            {{/each}}
          </ul>
        </li>

        <!-- Implementation -->
        <li class="s-tool__step js-tool-step" data-step-name="Implementation" data-theme="t-light-blue">
          <ul class="s-tool__sub-views js-tool-sub-steps">
            <li class="s-tool__view js-tool-view" data-grid-include="false">
              {{> components/tool/card-intro implementCard.[0]}}
            </li>
            {{#each implementActivities}}
            <li class="s-tool__view js-tool-view">
              {{> activityToolkit this}}
            </li>
            {{/each}}
          </ul>
        </li>

        <!-- Iteration -->
        <li class="s-tool__step js-tool-step" data-step-name="Iteration" data-theme="t-light-blue">
          <ul class="s-tool__sub-views js-tool-sub-steps">
            <li class="s-tool__view js-tool-view" data-grid-include="false">
              {{> components/tool/card-intro iterateCard.[0]}}
            </li>
            {{#each iterateActivities}}
            <li class="s-tool__view js-tool-view">
              {{> activityToolkit this}}
            </li>
            {{/each}}
          </ul>
        </li>

        <!-- Score -->
        <li class="s-tool__step js-tool-step" data-step-name="Engagement Score" data-grid-include="false" data-theme="t-blue">
          <ul class="s-tool__sub-views js-tool-sub-steps">
            <li class="s-tool__view js-tool-view" data-grid-include="false">
              {{> tool/score/score }}
            </li>
          </ul>
        </li>

        <!-- MVP -->
        <li class="s-tool__step js-tool-step" data-step-name="View MVP" data-grid-include="false" data-theme="t-blue">
          <ul class="s-tool__sub-views js-tool-sub-steps">
            <li class="s-tool__view js-tool-view" data-grid-include="false">
              {{> tool/mvp/grid }}
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <button class="s-tool__prev s-tool__action js-tool-back">&larr; Back</button>
    <button class="s-tool__prev s-tool__action js-tool-start">&larr; Take the questionnaire</button>

    <button class="s-tool__action s-tool__print-mvp c-icon-button c-icon-button--primary js-tool-print-mvp">
        <img src="/images/icon-print-white.svg" alt="Icon" class="c-icon-button__icon">
        <span class="c-icon-button__text">Print MVP</span>
    </button>
  </div>
  <div class="s-tool__mvp js-tool-mvp">
  </div>

  {{> toolkitSidebar }}

  {{> footer}}

</div>

<!-- Scripts are placed here temporarily, don't panic -->
<script src="/js/vendor/velocity.js" defer></script>
<script src="/js/modules/tool.js" defer></script>
<script src="/js/modules/acknowledge.js" defer></script>
