{{> components/tool/card-question this}}
<div class="s-tool__view__mini js-tool-view-mini">
  {{> components/tool/card-mini this}}
</div>
<div class="s-tool__view__contents js-tool-view-contents">
  {{> components/tool/modal this}}
</div>