<div class="builder-activity-card col-sm-12">

	<div class="row">

		<div class="col-sm-4">
			{{> image this.thumbnail}}
		</div>

		<div class="col-sm-8">
			<h1>{{this.name}}</h1>
			<h3>{{{this.question.html}}}</h3>
			<p>{{{this.example.html}}}</p>


		</div>

	</div>

	<div class="row">
		<a class="activity-no" data-id="no">NO</a>
		<a class="activity-yes" data-id="yes">YES</a>
	</div>

</div>