{{!-- Set up both component and js-binding classes for each variant --}}
<div class="c-card js-tool-card c-card--mini">

  <div class="c-card__inner">

    {{!-- Only display an icon if we actually have specified one --}}
    {{#if this.thumbnail}}
      <div class="c-card__icon c-icon">
        <img src="{{ this.thumbnail }}" alt="{{ this.name }}" class="c-icon__img">
      </div>
    {{/if}}

    <div class="c-card__content">

      {{!-- If there's a specified title --}}
      {{#if this.name}}
        <p class="c-card__title">{{ this.name }}</p>
      {{/if}}

      {{!-- If there's text specified --}}
      {{#if this.blurb.html}}
        <div class="c-card__text">{{{this.blurb.html}}}</div>
      {{/if}}
    </div>

    {{!-- Card actions (buttons, etc) --}}
    <div class="c-card__actions">
      <button class="c-btn c-btn--primary js-tool-more">See More</button>
    </div>
    
  </div>
</div>