<div class="c-steps js-tool-steps">
  <ul class="c-steps__list">
    <li class="c-steps__item js-tool-active-step" data-step="1"><span class="c-steps__title">Getting started</span></li>
    <li class="c-steps__item" data-step="2"><span class="c-steps__title">Project planning</span></li>
    <li class="c-steps__item" data-step="3"><span class="c-steps__title">Implementation</span></li>
    <li class="c-steps__item" data-step="4"><span class="c-steps__title">Iteration</span></li>
    <li class="c-steps__item" data-step="5"><span class="c-steps__title">Engagement score</span></li>
    <li class="c-steps__item" data-step="6"><span class="c-steps__title">View MVP</span></li>
  </ul>
</div>