<footer class="c-footer">
	<div class="o-wrapper">
		<ul class="o-list-inline">
			<li><img class="c-footer__logo" src="http://placehold.it/50x50" alt=""></li>
			<li><img class="c-footer__logo" src="http://placehold.it/50x50" alt=""></li>
			<li><img class="c-footer__logo" src="http://placehold.it/50x50" alt=""></li>
			<li><img class="c-footer__logo" src="http://placehold.it/50x50" alt=""></li>
		</ul>
		<p class="c-footer__text">The Public Engagement Roadmap was created in partnership by Living Cities and The Engagement Lab at Emerson College. Funded and supported by the Citi Foundation.</p>
	</div>
</footer>