<footer id="footer" class="">

<div class="footer">
		<div class="container">

			<div class="footer-inner">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="text-center padding-ver-clear">
							{{#if footer.images}}
							<div class="logos-footer center-block">
								{{#each footer.images}}
									{{> image this}}
								{{/each}}
							</div>
							{{/if}}
							{{#if footer.links}}
							<div class="row">
								<li>
								{{#each footer.links}}
									{{> link this}}
								{{/each}}
								</li>
							</div>
							{{/if}}
							{{{footer.description.html}}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</footer>
<!-- footer end -->