{{#if contrast}}
<header class="c-top-nav c-top-nav--contrast">
{{else}}
<header class="c-top-nav">
{{/if}}
  <div class="c-top-nav__wrapper o-wrapper">
    <a class="c-top-nav__branding" href="/">
      {{> image mainNav.logo}}
    </a>
    <button class="c-top-nav__toggle js-top-nav-toggle c-btn c-btn--ghost" aria-expanded="false">Menu</button>
    <nav class="c-top-nav__menu js-top-nav-menu" aria-hidden="true">
      <ul class="c-top-nav__list">
          <li class="c-top-nav__item"><a class="c-top-nav__link" href="/toolkit">Toolkit</a></li>
          <li class="c-top-nav__item"><a class="c-top-nav__link" href="/guide">Guide</a></li>
          <li class="c-top-nav__item"><a class="c-top-nav__link" href="/case-studies">Case Studies</a></li>
          <li class="c-top-nav__item"><a class="c-top-nav__link" href="/game">Game</a></li>
          <li class="c-top-nav__item"><a class="c-top-nav__link" href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>
