  <aside class="s-tool__sidebar c-off-canvas js-off-canvas" aria-hidden="true">

    <button class="c-off-canvas__toggle js-off-canvas-toggle" data-expanded="Hide Window" data-collapsed="Roadmap Activities" aria-pressed="false">Roadmap Activities</button>

    <div class="c-off-canvas__content">
      <h3 class="c-off-canvas__title">Roadmap Activities</h3>
      <p class="c-off-canvas__text js-tool-sidebar-empty" aria-hidden="false">No activities in your roadmap yet!</p>
      <div class="js-tool-sidebar-content"></div>
    </div>
    <div class="c-off-canvas__actions">
      <button class="c-btn c-btn--blue c-btn--full js-tool-print-mvp">Print Roadmap</button>
    </div>
  </aside>
