// TOOL

.s-tool {
  position: relative;

  @include wcss-theme-var(background, --secondary);
  // Loading state change
  > *:not(.s-tool__loading):not(.c-acknowledge) {
    opacity: 0;
  }
  &.is-loaded > *:not(.c-acknowledge) {
    opacity: 1;
  }
}

// Loading screen
.s-tool__loading {
  font-family: $font-serif;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;

  width: 100%;
  height: 100%;

  text-align: center;
  pointer-events: none;

  background: $color-white;

  align-items: center;
  flex-wrap: wrap;

  &__content {
    margin: auto;
  }

  &__text {
    color: map-get($theme-default, --primary);

    @include wcss-font-size(beta);
  }

  &__spinner > svg {
    width: 40px;
  }

  .is-loaded & {
    display: none;
  }
}

.s-tool__main {
  position: relative;

  overflow: hidden;
  //max-width: 80%;

  margin: 0 auto;
  padding: $wcss-spacing-unit-large 0;
}

// Back button

.s-tool__prev {
  font-weight: bold;

  position: fixed;
  top: 50vh;
  left: $wcss-spacing-unit-tiny;

  transform: translateY(-50%);
  text-transform: uppercase;

  color: $color-white;
  border: 0;
  background: transparent;
  text-shadow: 0 1px 1px rgba($color-black, .5);

  @include wcss-font-size(eta);
}

// Step views

.s-tool__views,
.s-tool__sub-views {
  margin: 0;
  padding: 0;

  list-style: none;
}


.s-tool__view {
  position: absolute;
  left: 0;

  width: 100%;

  pointer-events: none;

  opacity: 0;

  will-change: opacity, transform;
  //transform: translate3d(-200%, 0, 0);

  &.is-active {
    pointer-events: all;
  }

  &__mini,
  &__content {
    display: none;
  }
}

// Custom styling for cards inside views/steps

.s-tool__view__card {
  max-width: 80%;
}

// Grid

.s-tool__grid__block {
  padding: $wcss-spacing-unit-large $wcss-spacing-unit;

  @include wcss-theme-var(background, --secondary);

  @include wcss-media(large) {
    padding: $wcss-spacing-unit-large;
  }
}

.s-tool__grid__block__title {
  font-family: $font-serif;
  font-weight: normal;

  transition: color .2s;
  text-align: center;

  @include wcss-font-size(gamma);
  @include wcss-theme-var(color, --tertiary);

  word-wrap: break-word;

  @include wcss-media(large) {
    text-align: left;
  }
}

// General-purpose class used for actions tied to views (Like Print MVP)
// [1] Make invisible & un-clickable when disabled

.s-tool__action {
  transition: opacity .2s;
  pointer-events: none; // [1]

  opacity: 0; // [1]

  &.is-active {
    pointer-events: all;

    opacity: 1;
  }
}

// Print MVP action button

.s-tool__print-mvp {
  position: fixed;
  bottom: $wcss-spacing-unit-tiny;
  left: $wcss-spacing-unit-tiny;
}


// Printable MVP area. Modals are printed inside their own divs.

.s-tool__mvp {
  display: none;
}

@media print {

  html {
    font-size: 62.5%;
  }

  *,
  *:before,
  *:after {
    box-shadow: none !important;
    text-shadow: none !important;

    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }

  button {
    display: none !important;
  }

  body > *,
  body > *::before,
  body > *::after {
    display: none !important;
  }

  // We employ the .js-tool-printable class to tell JS
  // which div we want to print. We move that class around between
  // modals and the MVP area.
  //
  // 1. Override the current theme's background

  .s-tool,
  .js-tool-printable {
    display: block !important;

    background: white !important; // [1]
  }

  .s-tool__nav,
  .s-tool__grid,
  .s-tool__main,
  .s-tool__sidebar {
    display: none !important;
  }

  .s-tool__mvp__block {
    overflow: hidden;

    max-height: 100vh;
    margin: 0;
    padding: 0;

    page-break-before: avoid;
    page-break-after: always;
  }

  // Remove page title & number in Chrome
  @page {
    margin: 0mm;

    size: A4;
  }
}
