// TOOL

.s-tool {
  position: relative;
  //transition: $wcss-base-transition;
  //transition-delay: 0.2s;

  // Time transitions so that color changes occur
  // after views have changed
  *:not(.s-tool__loading):not(.s-tool__view),
  *::before,
  *::after {
    //transition-delay: 0.2s !important;
  }

  // Loading state change
  >*:not(.s-tool__loading) {
    opacity: 0;
  }

  &.is-loaded > * {
    opacity: 1;
  }

  // Background themes
  &.t-blue,
  .t-blue & {
    background: map-get($theme-blue, secondary);
  }

  &.t-purple,
  .t-purple & {
    background: map-get($theme-purple, secondary);
  }

  &.t-green,
  .t-green & {
    background: map-get($theme-green, secondary);
  }

  &.t-neutral,
  .t-neutral & {
    background: map-get($theme-neutral, secondary);
  }
}

// Loading screen
.s-tool__loading {
  background: $color-white;
  position: fixed;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-family: $font-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &__content {
    margin: auto;
  }

  &__text {
    @include wcss-font-size(beta);
    color: map-get($theme-blue, tertiary);
  }

  &__spinner > svg {
    width: 40px;
  }
  
  .is-loaded & {
    display: none;
  }
}

.s-tool__main {
  position: relative;
  //max-width: 80%;
  margin: $wcss-spacing-unit auto;
}

// Back button

.s-tool__prev {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.2s; 

  &.is-disabled {
    pointer-events: none;
    opacity: 0;
  }
}

// Step views

.s-tool__view {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  will-change: opacity, transform;
  //transform: translate3d(-200%, 0, 0);

  &.is-active {
    pointer-events: all;
  }

  &__mini,
  &__content {
    display: none;
  }
}

// Grid

.s-tool__grid__block {

  padding: $wcss-spacing-unit;

  &.t-blue {
    background: map-get($theme-blue, secondary);
  }

  &.t-green {
    background: map-get($theme-green, secondary);
  }

  &.t-purple {
    background: map-get($theme-purple, secondary);
  }

  &.t-neutral {
    background: map-get($theme-neutral, secondary);
  }
}

.s-tool__grid__block__title {
  font-family: $font-serif;
  text-align: center;

  @include wcss-media(large) {
    text-align: left;
  }
  
  .t-blue & {
    color: map-get($theme-blue, tertiary);
  }

  .t-green & {
    color: map-get($theme-green, primary);
  }

  .t-purple & {
    color: map-get($theme-purple, primary);
  }

  .t-neutral & {
    color: map-get($theme-neutral, primary);
  }
}

// Printable area

.s-tool__print {
  display: none;
}

@media print {
  
  body > *, 
  body > *::before, 
  body > *::after {
    display: none !important;
  }

  .s-tool,
  .s-tool__print {
    display: block !important;
  }

  .s-tool__screen {
    display: none !important;
  }
}
