<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Public Engagement Roadmap</title>
		<meta name="description" content="The Uncertainty Dictionary">
		<meta name="author" content="Engagement Lab">
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{!-- <meta name="theme-color" content="#78cbd1"> --}}

		{{!-- Open Graph --}}
		{{!-- <meta property="og:image" content="http://res.cloudinary.com/engagement-lab-home/image/upload/v1455896685/site/about/logo_color.png" /> --}}

		{{!-- Load our CSS/docs --}}
		{{> css environment=env}}

		{{!-- Load our JS --}}
		{{#ifeq env "development"}}
			{{> script/development section=section subSection=sub_section}}
		{{else}}
			{{> script/production section=section}}
		{{/ifeq}}

	</head>

	<body>

		{{{body}}}

	</body>
</html>
