// COLORS

// Neutral
$color-black-100: #FFFFFF;
$color-black-95: #F2F2F2;
$color-black-68: #AEACA4;
$color-black-67: #AAAAAA;
$color-black-29: #494949;
$color-black-13: #222222;

// Green

$color-green-93: #D6EDDF;
$color-green-77: #65C5B4;

// Blue
$color-blue-97: #3FA2F7;
$color-blue-90: #80DAE5;
$color-blue-80: #00B5CB;
$color-blue-56: #24408E;
$color-blue-47: #132C78;

// Purple

$color-purple-91: #D3D9E8;
$color-purple-70: #6579B2;
