// CHOICES

// Neutral
$color-neutral-100: #FFFFFF;
$color-neutral-95: #F2F2F2;
$color-neutral-68: #AEACA4;
$color-neutral-67: #AAAAAA;
$color-neutral-55: #8B887D;
$color-neutral-29: #494949;
$color-neutral-13: #222222;

// Green

$color-green-93: #D6EDDF;
$color-green-85: #ACDABE;
$color-green-77: #65C5B4;

// Blue
$color-blue-97: #3FA2F7;
$color-blue-90: #80DAE5;
$color-blue-80: #00B5CB;
$color-blue-56: #24408E;
$color-blue-47: #132C78;

// Purple

$color-purple-91: #D3D9E8;
$color-purple-70: #6579B2;





// DECISIONS

$color-white: $color-neutral-100;
$color-gray: $color-neutral-29;
$color-light-gray: $color-neutral-67;
$color-black: $color-neutral-13;
$color-blue: $color-blue-47;





// THEMES

$theme-blue: (
  primary: $color-blue-56,
  secondary: $color-purple-91,
  tertiary: $color-neutral-95,
  quaternary: $color-neutral-67
);

$theme-light-blue: (
  primary: $color-blue-80,
  secondary: $color-blue-90,
  tertiary: $color-blue-56,
);

$theme-green: (
  primary: $color-green-85,
  secondary: $color-green-93,
  tertiary: $color-green-77
);

$theme-purple: (
  primary: $color-blue-56,
  secondary: $color-purple-70,
  tertiary: $color-purple-91
);

$theme-neutral: (
  primary: $color-neutral-55,
  secondary: $color-neutral-68,
  tertiary: $color-neutral-29,
);