// SPACING

$wcss-spacing-unit: $wcss-base-font-size * $wcss-base-line-height;
$wcss-spacing-unit-tiny: $wcss-spacing-unit / 4;
$wcss-spacing-unit-small: $wcss-spacing-unit / 2;
$wcss-spacing-unit-large: $wcss-spacing-unit * 2;
$wcss-spacing-unit-huge: $wcss-spacing-unit * 4;