// TYPOGRAPHY

$wcss-base-font-size: 16px;
$wcss-base-line-height: 1.5;

// Typographic Scale

$wcss-typographic-scale: (
  alpha: 64px,
  beta: 48px,
  gamma: 36px,
  delta: 24px,
  epsilon: 18px,
  zeta: 16px,
  eta: 14px
);