// TYPOGRAPHY

$font-sans: 'HalisR', 'Helvetica Neue', Helvetica, sans-serif;
$font-serif: 'Bodoni 72', Georgia, serif;

$wcss-base-font-family: $font-sans;
$wcss-base-font-size: 16px;
$wcss-base-line-height: 1.5;

// Typographic Scale

$wcss-typography-scale: (
  alpha: (
    min: 30px,
    max: 64px,
    lh: 1.1,
  ),
  beta: (
    min: 24px,
    max: 48px,
    lh: 1.2,
  ),
  gamma: (
    min: 20px,
    max: 36px,
    lh: 1.6,
  ),
  delta: (
    min: 18px,
    max: 24px,
    lh: 1.6,
  ),
  epsilon: (
    min: 18px,
    max: 20px,
    lh: 1.6,
  ),
  zeta: (
    min: 14px,
    max: 16px,
    lh: 1.6,
  ),
  eta: (
    min: 12px,
    max: 14px,
    lh: 1.6,
  ),
  theta: (
    min: 10px,
    max: 12px,
    lh: 1.6
  ),
);

$wcss-typography-min-width: 300;
$wcss-typography-max-width: 1200;
