html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0; }

li > ol,
li > ul {
  margin-bottom: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset {
  min-width: 0;
  border: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font-size: 85%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (min-width: 800px) {
    html {
      font-size: 100%; } }

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "halis", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5; }

/* stylelint-disable selector-list-comma-newline-after */
address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

dd, ol, ul {
  margin-left: 24px;
  margin-left: 1.5rem; }

/* stylelint-enable selector-list-comma-newline-after */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.o-box {
  display: block;
  padding: 24px; }
  .o-box:after {
    content: "" !important;
    display: block !important;
    clear: both !important; }
  .o-box > :last-child {
    margin-bottom: 0; }

.o-box--flush {
  padding: 0; }

.o-box--tiny {
  padding: 6px; }

.o-box--small {
  padding: 12px; }

.o-box--large {
  padding: 48px; }

.o-box--huge {
  padding: 96px; }

/* stylelint-disable */
/* stylelint-enable */
.o-wrapper {
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1200px; }
  .o-wrapper:after {
    content: "" !important;
    display: block !important;
    clear: both !important; }

.o-wrapper--tiny {
  padding-right: 6px;
  padding-left: 6px; }

.o-wrapper--small {
  padding-right: 12px;
  padding-left: 12px; }

.o-wrapper--large {
  padding-right: 48px;
  padding-left: 48px; }

.o-wrapper--huge {
  padding-right: 96px;
  padding-left: 96px; }

.o-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px; }

.o-layout__item {
  box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-right: 12px;
  padding-left: 12px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%; }

.o-layout--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.o-layout--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start; }

.o-layout--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.o-layout--end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end; }

.o-layout--top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.o-layout--middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.o-layout--bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.o-layout--around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.o-layout--between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.o-layout__item--reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.o-layout__item--first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.o-layout__item--last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.o-layout__item--reset {
  -webkit-box-ordinal-group: NaN;
      -ms-flex-order: initial;
          order: initial; }

/* stylelint-disable */
.o-layout__item--1\/12 {
  -ms-flex-preferred-size: 8.3333333333%;
      flex-basis: 8.3333333333%;
  max-width: 8.3333333333%; }

.o-layout__item--offset-1\/12 {
  margin-left: 8.3333333333%; }

/* stylelint-enable */
/* stylelint-disable */
.o-layout__item--2\/12 {
  -ms-flex-preferred-size: 16.6666666667%;
      flex-basis: 16.6666666667%;
  max-width: 16.6666666667%; }

.o-layout__item--offset-2\/12 {
  margin-left: 16.6666666667%; }

/* stylelint-enable */
/* stylelint-disable */
.o-layout__item--3\/12 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%; }

.o-layout__item--offset-3\/12 {
  margin-left: 25%; }

/* stylelint-enable */
/* stylelint-disable */
.o-layout__item--4\/12 {
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
  max-width: 33.3333333333%; }

.o-layout__item--offset-4\/12 {
  margin-left: 33.3333333333%; }

/* stylelint-enable */
/* stylelint-disable */
.o-layout__item--5\/12 {
  -ms-flex-preferred-size: 41.6666666667%;
      flex-basis: 41.6666666667%;
  max-width: 41.6666666667%; }

.o-layout__item--offset-5\/12 {
  margin-left: 41.6666666667%; }

/* stylelint-enable */
/* stylelint-disable */
.o-layout__item--6\/12 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%; }

.o-layout__item--offset-6\/12 {
  margin-left: 50%; }

/* stylelint-enable */
/* stylelint-disable */
.o-layout__item--7\/12 {
  -ms-flex-preferred-size: 58.3333333333%;
      flex-basis: 58.3333333333%;
  max-width: 58.3333333333%; }

.o-layout__item--offset-7\/12 {
  margin-left: 58.3333333333%; }

/* stylelint-enable */
/* stylelint-disable */
.o-layout__item--8\/12 {
  -ms-flex-preferred-size: 66.6666666667%;
      flex-basis: 66.6666666667%;
  max-width: 66.6666666667%; }

.o-layout__item--offset-8\/12 {
  margin-left: 66.6666666667%; }

/* stylelint-enable */
/* stylelint-disable */
.o-layout__item--9\/12 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%; }

.o-layout__item--offset-9\/12 {
  margin-left: 75%; }

/* stylelint-enable */
/* stylelint-disable */
.o-layout__item--10\/12 {
  -ms-flex-preferred-size: 83.3333333333%;
      flex-basis: 83.3333333333%;
  max-width: 83.3333333333%; }

.o-layout__item--offset-10\/12 {
  margin-left: 83.3333333333%; }

/* stylelint-enable */
/* stylelint-disable */
.o-layout__item--11\/12 {
  -ms-flex-preferred-size: 91.6666666667%;
      flex-basis: 91.6666666667%;
  max-width: 91.6666666667%; }

.o-layout__item--offset-11\/12 {
  margin-left: 91.6666666667%; }

/* stylelint-enable */
/* stylelint-disable */
.o-layout__item--12\/12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%; }

.o-layout__item--offset-12\/12 {
  margin-left: 100%; }

/* stylelint-enable */
@media (min-width: 400px) {
  .o-layout--reverse\@small {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .o-layout--start\@small {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start; }
  .o-layout--center\@small {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
  .o-layout--end\@small {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end; }
  .o-layout--top\@small {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .o-layout--middle\@small {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .o-layout--bottom\@small {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .o-layout--around\@small {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .o-layout--between\@small {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .o-layout__item--reverse\@small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .o-layout__item--first\@small {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .o-layout__item--last\@small {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .o-layout__item--reset\@small {
    -webkit-box-ordinal-group: NaN;
        -ms-flex-order: initial;
            order: initial; }
  /* stylelint-disable */
  .o-layout__item--1\/12\@small {
    -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .o-layout__item--offset-1\/12\@small {
    margin-left: 8.3333333333%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--2\/12\@small {
    -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .o-layout__item--offset-2\/12\@small {
    margin-left: 16.6666666667%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--3\/12\@small {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%; }
  .o-layout__item--offset-3\/12\@small {
    margin-left: 25%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--4\/12\@small {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .o-layout__item--offset-4\/12\@small {
    margin-left: 33.3333333333%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--5\/12\@small {
    -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .o-layout__item--offset-5\/12\@small {
    margin-left: 41.6666666667%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--6\/12\@small {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%; }
  .o-layout__item--offset-6\/12\@small {
    margin-left: 50%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--7\/12\@small {
    -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .o-layout__item--offset-7\/12\@small {
    margin-left: 58.3333333333%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--8\/12\@small {
    -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .o-layout__item--offset-8\/12\@small {
    margin-left: 66.6666666667%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--9\/12\@small {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%; }
  .o-layout__item--offset-9\/12\@small {
    margin-left: 75%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--10\/12\@small {
    -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .o-layout__item--offset-10\/12\@small {
    margin-left: 83.3333333333%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--11\/12\@small {
    -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .o-layout__item--offset-11\/12\@small {
    margin-left: 91.6666666667%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--12\/12\@small {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%; }
  .o-layout__item--offset-12\/12\@small {
    margin-left: 100%; }
  /* stylelint-enable */ }

@media (min-width: 800px) {
  .o-layout--reverse\@medium {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .o-layout--start\@medium {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start; }
  .o-layout--center\@medium {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
  .o-layout--end\@medium {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end; }
  .o-layout--top\@medium {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .o-layout--middle\@medium {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .o-layout--bottom\@medium {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .o-layout--around\@medium {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .o-layout--between\@medium {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .o-layout__item--reverse\@medium {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .o-layout__item--first\@medium {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .o-layout__item--last\@medium {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .o-layout__item--reset\@medium {
    -webkit-box-ordinal-group: NaN;
        -ms-flex-order: initial;
            order: initial; }
  /* stylelint-disable */
  .o-layout__item--1\/12\@medium {
    -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .o-layout__item--offset-1\/12\@medium {
    margin-left: 8.3333333333%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--2\/12\@medium {
    -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .o-layout__item--offset-2\/12\@medium {
    margin-left: 16.6666666667%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--3\/12\@medium {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%; }
  .o-layout__item--offset-3\/12\@medium {
    margin-left: 25%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--4\/12\@medium {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .o-layout__item--offset-4\/12\@medium {
    margin-left: 33.3333333333%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--5\/12\@medium {
    -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .o-layout__item--offset-5\/12\@medium {
    margin-left: 41.6666666667%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--6\/12\@medium {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%; }
  .o-layout__item--offset-6\/12\@medium {
    margin-left: 50%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--7\/12\@medium {
    -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .o-layout__item--offset-7\/12\@medium {
    margin-left: 58.3333333333%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--8\/12\@medium {
    -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .o-layout__item--offset-8\/12\@medium {
    margin-left: 66.6666666667%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--9\/12\@medium {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%; }
  .o-layout__item--offset-9\/12\@medium {
    margin-left: 75%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--10\/12\@medium {
    -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .o-layout__item--offset-10\/12\@medium {
    margin-left: 83.3333333333%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--11\/12\@medium {
    -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .o-layout__item--offset-11\/12\@medium {
    margin-left: 91.6666666667%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--12\/12\@medium {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%; }
  .o-layout__item--offset-12\/12\@medium {
    margin-left: 100%; }
  /* stylelint-enable */ }

@media (min-width: 1200px) {
  .o-layout--reverse\@large {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .o-layout--start\@large {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start; }
  .o-layout--center\@large {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
  .o-layout--end\@large {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end; }
  .o-layout--top\@large {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .o-layout--middle\@large {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .o-layout--bottom\@large {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .o-layout--around\@large {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .o-layout--between\@large {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .o-layout__item--reverse\@large {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .o-layout__item--first\@large {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .o-layout__item--last\@large {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .o-layout__item--reset\@large {
    -webkit-box-ordinal-group: NaN;
        -ms-flex-order: initial;
            order: initial; }
  /* stylelint-disable */
  .o-layout__item--1\/12\@large {
    -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .o-layout__item--offset-1\/12\@large {
    margin-left: 8.3333333333%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--2\/12\@large {
    -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .o-layout__item--offset-2\/12\@large {
    margin-left: 16.6666666667%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--3\/12\@large {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%; }
  .o-layout__item--offset-3\/12\@large {
    margin-left: 25%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--4\/12\@large {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .o-layout__item--offset-4\/12\@large {
    margin-left: 33.3333333333%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--5\/12\@large {
    -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .o-layout__item--offset-5\/12\@large {
    margin-left: 41.6666666667%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--6\/12\@large {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%; }
  .o-layout__item--offset-6\/12\@large {
    margin-left: 50%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--7\/12\@large {
    -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .o-layout__item--offset-7\/12\@large {
    margin-left: 58.3333333333%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--8\/12\@large {
    -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .o-layout__item--offset-8\/12\@large {
    margin-left: 66.6666666667%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--9\/12\@large {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%; }
  .o-layout__item--offset-9\/12\@large {
    margin-left: 75%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--10\/12\@large {
    -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .o-layout__item--offset-10\/12\@large {
    margin-left: 83.3333333333%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--11\/12\@large {
    -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .o-layout__item--offset-11\/12\@large {
    margin-left: 91.6666666667%; }
  /* stylelint-enable */
  /* stylelint-disable */
  .o-layout__item--12\/12\@large {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%; }
  .o-layout__item--offset-12\/12\@large {
    margin-left: 100%; }
  /* stylelint-enable */ }

.o-block {
  display: block;
  text-align: center; }

.o-block__img {
  margin-bottom: 24px; }
  .o-block--flush > .o-block__img {
    margin-bottom: 0; }
  .o-block--tiny > .o-block__img {
    margin-bottom: 6px; }
  .o-block--small > .o-block__img {
    margin-bottom: 12px; }
  .o-block--large > .o-block__img {
    margin-bottom: 48px; }
  .o-block--huge > .o-block__img {
    margin-bottom: 96px; }

.o-block__body {
  display: block; }

.o-block--right {
  text-align: right; }

.o-block--left {
  text-align: left; }

.o-box {
  display: block;
  padding: 24px; }
  .o-box:after {
    content: "" !important;
    display: block !important;
    clear: both !important; }
  .o-box > :last-child {
    margin-bottom: 0; }

.o-box--flush {
  padding: 0; }

.o-box--tiny {
  padding: 6px; }

.o-box--small {
  padding: 12px; }

.o-box--large {
  padding: 48px; }

.o-box--huge {
  padding: 96px; }

.o-crop {
  position: relative;
  display: block;
  overflow: hidden; }

.o-crop__content {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none; }

.o-crop__content--right {
  right: 0;
  left: auto; }

.o-crop__content--bottom {
  top: auto;
  bottom: 0; }

.o-crop__content--center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

/* stylelint-disable */
.o-crop--2\:1 {
  padding-bottom: 50%; }

.o-crop--4\:3 {
  padding-bottom: 75%; }

.o-crop--16\:9 {
  padding-bottom: 56.25%; }

/* stylelint-enable */
.c-card {
  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 20px 30px 0 rgba(34, 34, 34, 0.1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  -webkit-perspective: 1px;
          perspective: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.c-card__cover,
.c-card__inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.c-card__cover {
  position: relative;
  min-height: 150px;
  overflow: hidden; }
  @media (min-width: 750px) {
    .c-card__cover {
      min-height: 250px; } }

.c-card__cover__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: none;
  min-height: 100%;
  min-width: 100%; }

.c-card__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.c-card__title {
  font-family: "bodoni", Georgia, serif;
  font-weight: bold;
  margin-bottom: 12px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }
  .t-blue .c-card__title {
    color: #24408E; }
  .t-light-blue .c-card__title {
    color: #24408E; }
  .t-green .c-card__title {
    color: #65C5B4; }
  .t-purple .c-card__title {
    color: #6579B2; }
  .t-neutral .c-card__title {
    color: #494949; }

.c-card__title--separated:after {
  content: '';
  width: 80px;
  height: 1px;
  background: currentColor;
  opacity: 0.5;
  margin: 24px 0;
  display: block;
  position: relative; }

.c-card__current-card {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "halis", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 14px;
  font-size: calc(12px + (14 - 12) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6; }

.c-card__icon.c-card__icon {
  position: relative;
  display: block;
  margin: -45.5px auto 0 auto;
  width: 91px;
  height: 91px; }

.c-card__text {
  margin-bottom: 24px; }
  .c-card__text > p {
    margin-bottom: 6px; }
    .c-card__text > p:last-child {
      margin-bottom: 0; }

.c-card__helper {
  color: #AAAAAA; }
  .c-card__helper:before {
    content: '';
    width: 80px;
    height: 1px;
    background: currentColor;
    opacity: 0.5;
    margin-bottom: 12px;
    display: block;
    position: relative; }

.c-card__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: auto; }
  .c-card__actions > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    border-radius: 0 !important; }

.c-card.is-disabled {
  opacity: 0.5; }
  .c-card.is-disabled .c-card__actions {
    pointer-events: none; }

@media (min-width: 750px) {
  .c-card--full > .c-card__cover {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%; } }

@media (min-width: 1100px) {
  .c-card--full > .c-card__cover {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%; } }

@media (min-width: 750px) {
  .c-card--full > .c-card__inner {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%; } }

@media (min-width: 1100px) {
  .c-card--full > .c-card__inner {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%; } }

.c-card--full .c-card__content {
  padding: 24px; }
  @media (min-width: 750px) {
    .c-card--full .c-card__content {
      padding: 48px 72px 24px 72px; } }

@media (min-width: 750px) {
  .c-card--full .c-card__icon {
    position: absolute;
    top: 24px;
    left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0; } }

.c-card--full .c-card__title {
  font-size: 64px;
  font-size: calc(30px + (64 - 30) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.1; }

.c-card--full .c-card__text {
  font-size: 20px;
  font-size: calc(18px + (20 - 18) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6; }
  .c-card--full .c-card__text > * + * {
    margin-top: 24px; }

.c-card--full .c-card__helper {
  font-size: 16px;
  font-size: calc(14px + (16 - 14) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6; }

.c-card--mini {
  max-width: 300px;
  overflow: visible; }
  .c-card--mini .c-card__content {
    padding: 12px; }
  .c-card--mini .c-card__actions {
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .c-card--mini .c-card__title {
    font-size: 24px;
    font-size: calc(18px + (24 - 18) * (100vw - 300px ) / (1200 - 300)) ;
    line-height: 1.6;
    margin-bottom: 12px; }
  .c-card--mini .c-card__text,
  .c-card--mini .c-card__helper {
    font-size: 14px;
    font-size: calc(12px + (14 - 12) * (100vw - 300px ) / (1200 - 300)) ;
    line-height: 1.6; }

.c-card-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .c-card-grid > .c-card-grid__item {
    width: 100%;
    padding: 12px;
    margin-top: 48px; }
    @media (min-width: 500px) {
      .c-card-grid > .c-card-grid__item {
        width: 50%; } }
    @media (min-width: 800px) {
      .c-card-grid > .c-card-grid__item {
        width: 33.33%; } }
    @media (min-width: 1200px) {
      .c-card-grid > .c-card-grid__item {
        width: 25%; }
        .c-card-grid > .c-card-grid__item:nth-child(-n+4) {
          margin-top: 0; } }

.c-btn {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  margin: 0;
  cursor: pointer;
  padding: 12px 24px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 0;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  font-size: calc(12px + (14 - 12) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6; }
  .c-btn:hover, .c-btn:focus {
    outline: 0; }

.c-btn--primary {
  color: #FFFFFF; }
  .t-blue .c-btn--primary {
    background: #24408E; }
    .t-blue .c-btn--primary:hover, .t-blue .c-btn--primary:focus {
      background: #1f377a; }
  .t-light-blue .c-btn--primary {
    background: #00B5CB; }
    .t-light-blue .c-btn--primary:hover, .t-light-blue .c-btn--primary:focus {
      background: #009eb2; }
  .t-purple .c-btn--primary {
    background: #24408E; }
    .t-purple .c-btn--primary:hover, .t-purple .c-btn--primary:focus {
      background: #1f377a; }
  .t-green .c-btn--primary {
    background: #ACDABE; }
    .t-green .c-btn--primary:hover, .t-green .c-btn--primary:focus {
      background: #9ad2b0; }
  .t-neutral .c-btn--primary {
    background: #8B887D; }
    .t-neutral .c-btn--primary:hover, .t-neutral .c-btn--primary:focus {
      background: #7e7b70; }

.t-blue .c-btn--secondary {
  background: #D3D9E8;
  color: #24408E; }
  .t-blue .c-btn--secondary:hover, .t-blue .c-btn--secondary:focus {
    background: #c2cbdf; }

.t-light-blue .c-btn--secondary {
  background: #80DAE5;
  color: #00B5CB; }
  .t-light-blue .c-btn--secondary:hover, .t-light-blue .c-btn--secondary:focus {
    background: #6bd4e1; }

.t-purple .c-btn--secondary {
  background: #6579B2;
  color: #24408E; }
  .t-purple .c-btn--secondary:hover, .t-purple .c-btn--secondary:focus {
    background: #556aa9; }

.t-green .c-btn--secondary {
  background: #D6EDDF;
  color: #ACDABE; }
  .t-green .c-btn--secondary:hover, .t-green .c-btn--secondary:focus {
    background: #c4e5d1; }

.t-neutral .c-btn--secondary {
  background: #AEACA4;
  color: #8B887D; }
  .t-neutral .c-btn--secondary:hover, .t-neutral .c-btn--secondary:focus {
    background: #a2a097; }

.c-icon {
  width: 91px;
  height: 91px;
  border: 4px solid #FFFFFF;
  background: #494949;
  position: relative;
  display: block;
  box-shadow: 0 2px 3px 0 rgba(34, 34, 34, 0.25);
  border-radius: 100%;
  -webkit-transition: background 0.2s;
  transition: background 0.2s; }
  .t-light-blue .c-icon {
    background: #24408E; }
  .t-light-blue .c-icon {
    background: #00B5CB; }
  .t-green .c-icon {
    background: #ACDABE; }
  .t-neutral .c-icon {
    background: #8B887D; }
  .t-purple .c-icon {
    background: #24408E; }

.c-icon__img {
  max-width: 39px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.c-icon-button {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  text-align: center;
  border: 0;
  box-shadow: 10px 15px 30px rgba(34, 34, 34, 0.5);
  font-weight: bold;
  cursor: pointer; }

.c-icon-button__icon {
  width: 24px; }

.c-icon-button__text {
  font-size: 12px;
  font-size: calc(10px + (12 - 10) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6;
  text-transform: uppercase; }

.c-icon-button--primary {
  background: #132C78;
  color: #FFFFFF; }

.c-steps {
  display: inline-block;
  width: 100%;
  position: relative; }

.c-steps__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: visible;
  padding: 0;
  margin: 0;
  position: relative; }

.c-steps__progress,
.c-steps__progress-complete {
  height: 4px;
  content: '';
  left: 0;
  top: 55px;
  display: block;
  position: absolute; }

.c-steps__progress {
  width: 100%;
  background: #222222; }
  .t-blue .c-steps__progress {
    background: #AAAAAA; }
  .t-light-blue .c-steps__progress {
    background: #00B5CB; }
  .t-purple .c-steps__progress {
    background: #24408E; }
  .t-green .c-steps__progress {
    background: #ACDABE; }
  .t-neutral .c-steps__progress {
    background: #8B887D; }

.c-steps__progress-complete {
  background: rgba(0, 0, 0, 0.5); }
  .t-blue .c-steps__progress-complete {
    background: #24408E; }
  .t-light-blue .c-steps__progress-complete {
    background: #24408E; }
  .t-purple .c-steps__progress-complete {
    background: #D3D9E8; }
  .t-green .c-steps__progress-complete {
    background: #65C5B4; }
  .t-neutral .c-steps__progress-complete {
    background: #494949; }

.c-steps__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 48px;
  position: relative;
  text-align: center; }
  .c-steps__item:first-of-type {
    text-align: left; }
  .c-steps__item:last-of-type {
    text-align: right; }

.c-steps__point {
  width: 16px;
  height: 16px;
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 3px; }
  .t-blue .c-steps__point {
    background: #AAAAAA; }
  .t-light-blue .c-steps__point {
    background: #00B5CB; }
  .t-purple .c-steps__point {
    background: #24408E; }
  .t-green .c-steps__point {
    background: #ACDABE; }
  .t-neutral .c-steps__point {
    background: #8B887D; }

.c-steps__title {
  font-size: 14px;
  font-size: calc(12px + (14 - 12) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin: 6px 0;
  width: 100%;
  display: none; }
  .t-blue .c-steps__title {
    color: #aaaaaa; }
  .t-light-blue .c-steps__title {
    color: #00b5cb; }
  .t-purple .c-steps__title {
    color: #24408e; }
  .t-neutral .c-steps__title {
    color: #8b887d; }
  .t-green .c-steps__title {
    color: #9ad2b0; }
  @media (min-width: 800px) {
    .c-steps__title {
      display: inline-block; } }

.c-steps__item.is-active > .c-steps__point {
  background: #FFFFFF; }
  .t-blue .c-steps__item.is-active > .c-steps__point {
    border: 2px solid #24408E;
    box-shadow: 0 0 0 2px #24408E; }
  .t-light-blue .c-steps__item.is-active > .c-steps__point {
    border: 2px solid #24408E;
    box-shadow: 0 0 0 2px #24408E; }
  .t-purple .c-steps__item.is-active > .c-steps__point {
    border: 2px solid #D3D9E8;
    box-shadow: 0 0 0 2px #D3D9E8; }
  .t-green .c-steps__item.is-active > .c-steps__point {
    border: 2px solid #65C5B4;
    box-shadow: 0 0 0 2px #65C5B4; }
  .t-neutral .c-steps__item.is-active > .c-steps__point {
    border: 2px solid #494949;
    box-shadow: 0 0 0 2px #494949; }

.t-blue .c-steps__item.is-active > .c-steps__title {
  color: #24408E; }

.t-purple .c-steps__item.is-active > .c-steps__title {
  color: #D3D9E8; }

.t-light-blue .c-steps__item.is-active > .c-steps__title {
  color: #24408E; }

.t-green .c-steps__item.is-active > .c-steps__title {
  color: #65C5B4; }

.t-neutral .c-steps__item.is-active > .c-steps__title {
  color: #494949; }

.t-blue .c-steps__item.is-past > .c-steps__point {
  background: #24408E; }

.t-light-blue .c-steps__item.is-past > .c-steps__point {
  background: #24408E; }

.t-purple .c-steps__item.is-past > .c-steps__point {
  background: #D3D9E8; }

.t-green .c-steps__item.is-past > .c-steps__point {
  background: #65C5B4; }

.t-neutral .c-steps__item.is-past > .c-steps__point {
  background: #494949; }

.t-blue .c-steps__item.is-past > .c-steps__title {
  color: #24408E; }

.t-light-blue .c-steps__item.is-past > .c-steps__title {
  color: #24408E; }

.t-purple .c-steps__item.is-past > .c-steps__title {
  color: #D3D9E8; }

.t-green .c-steps__item.is-past > .c-steps__title {
  color: #65C5B4; }

.t-neutral .c-steps__item.is-past > .c-steps__title {
  color: #494949; }

.c-modal {
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  -webkit-transform: translate(0, 200%);
          transform: translate(0, 200%);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  overflow: auto; }

.c-modal.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  z-index: 9999;
  pointer-events: all; }

html.is-modal-active {
  overflow: hidden; }

.c-modal__header {
  display: block;
  padding: 96px 0;
  background: -webkit-linear-gradient(top, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0.7) 79%);
  background: linear-gradient(-180deg, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0.7) 79%);
  position: relative;
  overflow: hidden; }
  @media (min-width: 1200px) {
    .c-modal__header {
      padding: 96px; } }
  @media print {
    .c-modal__header {
      padding: 24px;
      background: #F2F2F2; } }

.c-modal__header__img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1; }
  @media print {
    .c-modal__header__img {
      display: none; } }

.c-modal__header__title {
  font-size: 48px;
  font-size: calc(24px + (48 - 24) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.2;
  font-family: "bodoni", Georgia, serif;
  color: #FFFFFF; }
  @media print {
    .c-modal__header__title {
      color: #24408E; } }

.c-modal__header__description {
  display: inline-block;
  margin: 24px 0;
  color: #AAAAAA; }
  @media print {
    .c-modal__header__description {
      color: #494949; } }

.c-modal__top-actions {
  position: absolute;
  width: 50%;
  top: 12px; }
  @media print {
    .c-modal__top-actions {
      display: none; } }

.c-modal__top-actions--left {
  left: 12px;
  text-align: left; }

.c-modal__top-actions--right {
  right: 12px;
  text-align: right; }

.c-summary-block {
  display: block;
  margin-left: -12px; }

.c-summary-block__item,
.c-summary-block__icon,
.c-summary-block__content {
  display: inline-block;
  vertical-align: middle; }

.c-summary-block__item {
  margin: 12px; }

.c-summary-block__icon {
  width: 30px;
  margin-right: 6px; }

.c-summary-block__title {
  font-size: 16px;
  font-size: calc(14px + (16 - 14) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 0; }
  @media print {
    .c-summary-block__title {
      color: #494949; } }

.c-summary-block__description {
  font-size: 14px;
  font-size: calc(12px + (14 - 12) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6;
  color: #AAAAAA;
  text-transform: uppercase;
  margin-bottom: 0; }

.s-tool {
  position: relative; }
  .s-tool > *:not(.s-tool__loading) {
    opacity: 0; }
  .s-tool.is-loaded > * {
    opacity: 1; }
  .s-tool.t-blue,
  .t-blue .s-tool {
    background: #F2F2F2; }
  .s-tool.t-light-blue,
  .t-light-blue .s-tool {
    background: #80DAE5; }
  .s-tool.t-purple,
  .t-purple .s-tool {
    background: #6579B2; }
  .s-tool.t-green,
  .t-green .s-tool {
    background: #D6EDDF; }
  .s-tool.t-neutral,
  .t-neutral .s-tool {
    background: #AEACA4; }

.s-tool__loading {
  background: #FFFFFF;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-family: "bodoni", Georgia, serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }
  .s-tool__loading__content {
    margin: auto; }
  .s-tool__loading__text {
    font-size: 48px;
    font-size: calc(24px + (48 - 24) * (100vw - 300px ) / (1200 - 300)) ;
    line-height: 1.2;
    color: #24408E; }
  .s-tool__loading__spinner > svg {
    width: 40px; }
  .is-loaded .s-tool__loading {
    display: none; }

.s-tool__main {
  position: relative;
  margin: 24px auto;
  overflow: hidden; }

.s-tool__prev {
  font-size: 14px;
  font-size: calc(12px + (14 - 12) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6;
  position: fixed;
  left: 6px;
  top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border: 0;
  background: transparent;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(34, 34, 34, 0.5); }
  .s-tool__prev.is-disabled {
    pointer-events: none;
    opacity: 0; }

.s-tool__views,
.s-tool__sub-views {
  list-style: none;
  margin: 0;
  padding: 0; }

.s-tool__view {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  will-change: opacity, transform; }
  .s-tool__view.is-active {
    pointer-events: all; }
  .s-tool__view__mini, .s-tool__view__content {
    display: none; }

.s-tool__view__card {
  max-width: 80%; }

.s-tool__grid__action {
  position: fixed;
  bottom: 6px;
  left: 6px; }

.s-tool__grid__block {
  padding: 48px 24px; }
  @media (min-width: 1200px) {
    .s-tool__grid__block {
      padding: 48px; } }
  .s-tool__grid__block.t-blue {
    background: #F2F2F2; }
  .s-tool__grid__block.t-light-blue {
    background: #80DAE5; }
  .s-tool__grid__block.t-green {
    background: #D6EDDF; }
  .s-tool__grid__block.t-purple {
    background: #6579B2; }
  .s-tool__grid__block.t-neutral {
    background: #AEACA4; }

.s-tool__grid__block__title {
  font-size: 48px;
  font-size: calc(24px + (48 - 24) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.2;
  font-family: "bodoni", Georgia, serif;
  text-align: center;
  font-weight: normal;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }
  @media (min-width: 1200px) {
    .s-tool__grid__block__title {
      text-align: left; } }
  .t-blue .s-tool__grid__block__title {
    color: #24408E; }
  .t-light-blue .s-tool__grid__block__title {
    color: #24408E; }
  .t-green .s-tool__grid__block__title {
    color: #65C5B4; }
  .t-purple .s-tool__grid__block__title {
    color: #D3D9E8; }
  .t-neutral .s-tool__grid__block__title {
    color: #494949; }

.s-tool__mvp {
  display: none; }

@media print {
  * {
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  button {
    display: none !important; }
  body > *,
  body > *::before,
  body > *::after {
    display: none !important; }
  .s-tool,
  .js-tool-printable {
    background: white !important;
    display: block !important; }
  .s-tool__nav,
  .s-tool__grid,
  .s-tool__main {
    display: none !important; }
  .s-tool__mvp__block {
    page-break-after: always; }
  @page {
    size: auto;
    margin: 0mm; } }

/* stylelint-disable string-quotes */
.u-pad {
  padding: 24px !important; }

.u-pad-tiny {
  padding: 6px !important; }

.u-pad-small {
  padding: 12px !important; }

.u-pad-large {
  padding: 48px !important; }

.u-pad-huge {
  padding: 96px !important; }

.u-pad-none {
  padding: 0 !important; }

.u-pad-top {
  padding-top: 24px !important; }

.u-pad-top-tiny {
  padding-top: 6px !important; }

.u-pad-top-small {
  padding-top: 12px !important; }

.u-pad-top-large {
  padding-top: 48px !important; }

.u-pad-top-huge {
  padding-top: 96px !important; }

.u-pad-top-none {
  padding-top: 0 !important; }

.u-pad-right {
  padding-right: 24px !important; }

.u-pad-right-tiny {
  padding-right: 6px !important; }

.u-pad-right-small {
  padding-right: 12px !important; }

.u-pad-right-large {
  padding-right: 48px !important; }

.u-pad-right-huge {
  padding-right: 96px !important; }

.u-pad-right-none {
  padding-right: 0 !important; }

.u-pad-bottom {
  padding-bottom: 24px !important; }

.u-pad-bottom-tiny {
  padding-bottom: 6px !important; }

.u-pad-bottom-small {
  padding-bottom: 12px !important; }

.u-pad-bottom-large {
  padding-bottom: 48px !important; }

.u-pad-bottom-huge {
  padding-bottom: 96px !important; }

.u-pad-bottom-none {
  padding-bottom: 0 !important; }

.u-pad-left {
  padding-left: 24px !important; }

.u-pad-left-tiny {
  padding-left: 6px !important; }

.u-pad-left-small {
  padding-left: 12px !important; }

.u-pad-left-large {
  padding-left: 48px !important; }

.u-pad-left-huge {
  padding-left: 96px !important; }

.u-pad-left-none {
  padding-left: 0 !important; }

.u-marg {
  margin: 24px !important; }

.u-marg-tiny {
  margin: 6px !important; }

.u-marg-small {
  margin: 12px !important; }

.u-marg-large {
  margin: 48px !important; }

.u-marg-huge {
  margin: 96px !important; }

.u-marg-none {
  margin: 0 !important; }

.u-marg-top {
  margin-top: 24px !important; }

.u-marg-top-tiny {
  margin-top: 6px !important; }

.u-marg-top-small {
  margin-top: 12px !important; }

.u-marg-top-large {
  margin-top: 48px !important; }

.u-marg-top-huge {
  margin-top: 96px !important; }

.u-marg-top-none {
  margin-top: 0 !important; }

.u-marg-right {
  margin-right: 24px !important; }

.u-marg-right-tiny {
  margin-right: 6px !important; }

.u-marg-right-small {
  margin-right: 12px !important; }

.u-marg-right-large {
  margin-right: 48px !important; }

.u-marg-right-huge {
  margin-right: 96px !important; }

.u-marg-right-none {
  margin-right: 0 !important; }

.u-marg-bottom {
  margin-bottom: 24px !important; }

.u-marg-bottom-tiny {
  margin-bottom: 6px !important; }

.u-marg-bottom-small {
  margin-bottom: 12px !important; }

.u-marg-bottom-large {
  margin-bottom: 48px !important; }

.u-marg-bottom-huge {
  margin-bottom: 96px !important; }

.u-marg-bottom-none {
  margin-bottom: 0 !important; }

.u-marg-left {
  margin-left: 24px !important; }

.u-marg-left-tiny {
  margin-left: 6px !important; }

.u-marg-left-small {
  margin-left: 12px !important; }

.u-marg-left-large {
  margin-left: 48px !important; }

.u-marg-left-huge {
  margin-left: 96px !important; }

.u-marg-left-none {
  margin-left: 0 !important; }

/* stylelint-enable string-quotes */
.u-text-alpha {
  font-size: 64px;
  font-size: calc(30px + (64 - 30) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.1; }

.u-text-beta {
  font-size: 48px;
  font-size: calc(24px + (48 - 24) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.2; }

.u-text-gamma {
  font-size: 36px;
  font-size: calc(20px + (36 - 20) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6; }

.u-text-delta {
  font-size: 24px;
  font-size: calc(18px + (24 - 18) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6; }

.u-text-epsilon {
  font-size: 20px;
  font-size: calc(18px + (20 - 18) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6; }

.u-text-zeta {
  font-size: 16px;
  font-size: calc(14px + (16 - 14) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6; }

.u-text-eta {
  font-size: 14px;
  font-size: calc(12px + (14 - 12) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6; }

.u-text-theta {
  font-size: 12px;
  font-size: calc(10px + (12 - 10) * (100vw - 300px ) / (1200 - 300)) ;
  line-height: 1.6; }
/*# sourceMappingURL=style.css.map */