<div class="s-tool__grid js-tool-grid">
  <div class="s-tool__grid__block js-tool-grid-block js-tool-grid-template">
    <div class="o-layout o-layout--center">
      <div class="o-layout__item o-layout__item--2/12@large">
        <h1 class="s-tool__grid__block__title js-tool-grid-block-title"></h1>
      </div>
      <div class="o-layout__item o-layout__item--10/12@large">
        <div class="c-card-grid js-tool-grid-item-container">
          <div class="c-card-grid__item js-tool-grid-template js-tool-grid-item"></div>
        </div>
      </div>
    </div>
  </div>
</div>