// BLOCK

// Stacked image-with-text object. A simple abstraction to cover a very commonly
// occurring design pattern.

.o-block {
  display: block;

  text-align: center;
}

.o-block__img {
  margin-bottom: $wcss-spacing-unit;

  // Size Variants
  .o-block--flush > & {
    margin-bottom: 0;
  }

  .o-block--tiny > & {
    margin-bottom: $wcss-spacing-unit-tiny;
  }

  .o-block--small > & {
    margin-bottom: $wcss-spacing-unit-small;
  }

  .o-block--large > & {
    margin-bottom: $wcss-spacing-unit-large;
  }
  
  .o-block--huge > & {
    margin-bottom: $wcss-spacing-unit-huge;
  }
}

.o-block__body {
  display: block;
}





// ALIGNMENT VARIANTS

.o-block--right {
  text-align: right;
}

.o-block--left {
  text-align: left;
}
