{{>
  components/tool/card-question
    cover="/images/map-light-blue.jpg"
    icon="/images/icon-goal.svg"
    title="Goals"
    text="You're trying to engage in some public policy, process or issue. Can you state your main goal in one sentence?"
    helper="For example, if you are planning to use an online dialogue tool, do you feel as though you have adequately researched the variety of options? Or if you are engaging the public on issues of climate adaptation, have you looked into similar efforts in other cities?"
}}
<div class="s-tool__view__mini js-tool-view-mini">
  {{> 
    components/tool/card-mini
      icon="/images/icon-goal.svg"
      title="Goals"
      text="You're trying to engage in some public policy, process or issue. Can you state your main goal in one sentence?"
  }}
</div>
<div class="s-tool__view__contents js-tool-view-contents">
  {{>
    components/tool/modal
      cover="/images/map-light-blue.jpg"
      title="Goals"
      current_phase="Getting Started"
      activity_length="20 minutes"
      description="Lorem Ipsum Dolor Sit Amet"
  }}
</div>