{{>
  components/tool/card-intro
    title="Getting Started"
    text="<p>Public engagement happens at the speed of trust. So don’t rush it. Move slow and deliberately. Most importantly, understand what you already have, so you’re better able to understand what you need. We’ll call this “calibrating your instruments.”</p><p>What are your guiding values? Do you have an understanding of other similar efforts in the community? Do you understand who your partners are and what they want out of the process? And do you grasp all the communication channels people are using? Answers to these questions will be a good start.</p>"
}}