{{>
  components/tool/card
    cover="http://placehold.it/500x500"
    title="Listening"
    text="Do you understand why some people might not be communicating with each other about civic issues?"
    helper="Where do social divisions exist? Why are some people talking on Facebook and others not? Why do some attend town hall meetings while others don't?"
    yesno=true
    mini=false
}}
<div class="s-tool__view__mini js-tool-view-mini">
  {{> 
    components/tool/card
      icon="http://placehold.it/50x50"
      title="Listening"
      text="Where do social divisions exist? Why are some people talking on Facebook and others not? Why do some attend town hall meetings while others don't?"
      mini=true
  }}
</div>
<div class="s-tool__view__contents js-tool-view-contents">
  {{>
    components/tool/modal
      cover="http://placehold.it/500x500"
      title="Listening"
      current_phase="Getting Started"
      activity_length="20 minutes"
      description="Lorem Ipsum Dolor Sit Amet"
  }}
</div>