{{>
  components/tool/card-question
    cover="/images/map-light-blue.jpg"
    icon="/images/icon-handshake.svg"
    title="Partnerships"
    text="Do you know what all the different stakeholders involved want from this process?"
    helper="For example, if your team consists of people from multiple departments, does everyone understand the different priorities? If your team involves external organizations, is there clarity about what each organization seeks to gain from the process?"
}}
<div class="s-tool__view__mini js-tool-view-mini">
  {{> 
    components/tool/card-mini
      icon="/images/icon-handshake.svg"
      title="Partnerships"
      text="Can you list the top 3 reasons you are doing this work?"
  }}
</div>
<div class="s-tool__view__contents js-tool-view-contents">
  {{>
    components/tool/modal
      cover="/images/map-light-blue.jpg"
      title="Partnerships"
      current_phase="Getting Started"
      activity_length="20 minutes"
      description="Lorem Ipsum Dolor Sit Amet"
  }}
</div>