{{>
  components/tool/card-question
    cover="/images/map-light-blue.jpg"
    icon="/images/icon-report-card.svg"
    title="Priorities"
    text="Can you list the top 3 reasons you are doing this work?"
    helper="For example, are you primarily concerned with racial equity, the digital divide, reaching seniors and/or youth? Does your team share these values?"
}}
<div class="s-tool__view__mini js-tool-view-mini">
  {{> 
    components/tool/card-mini
      icon="/images/icon-report-card.svg"
      title="Priorities"
      text="Can you list the top 3 reasons you are doing this work?"
  }}
</div>
<div class="s-tool__view__contents js-tool-view-contents">
  {{>
    components/tool/modal
      cover="/images/map-light-blue.jpg"
      title="Priorities"
      current_phase="Getting Started"
      activity_length="20 minutes"
      description="Lorem Ipsum Dolor Sit Amet"
  }}
</div>