{{>
  components/tool/card
    title="Mapping Your Public Engagement Process"
    text="<p>Public engagement is a non-linear and messy process as multiple stakeholders are consulted, input is reviewed and integrated, and relationships between the public and government are built over time.  There is no perfect roadmap to public engagement, but there are foundational planning pieces that can help determine your success.</p><p>This site helps you explore all the things you need to consider and provides useful exercises to bring a team of people into alignment. What are you waiting for? Get planning.</p>"
    intro=true
    yesno=false
    mini=false
}}