{{>
  components/tool/card
    title="Mapping Your Public Engagement Process"
    text="<p>Based on how you answer the following questions, we will recommend a series of activities you may complete with your public engagement planning team. This is not an exhaustive list, but rather a series of prompts for a MVP: minimum viable process.</p>"
    intro=true
    yesno=false
    mini=false
}}