// ACKNOWLEDGE
// UI Component meant to let the user know that the action they
// just invoked has been completed.
// 
// Markup & usage for this component can be found in 
// js/modules/acknowledge.js

.c-acknowledge {
  position: fixed;
  z-index: 9999;
  bottom: $wcss-spacing-unit-small;
  left: 50%;

  width: 90%;
  padding: $wcss-spacing-unit-small;

  transform: translate(-50%, 0);
  animation: acknowledge 2s infinite;
  animation-play-state: paused;
  text-align: center;

  opacity: 0;
  color: $color-white;
  border-radius: $wcss-base-radius;
  background: rgba($color-black, .8);
}

.c-acknowledge[aria-hidden='false'] {
  animation-play-state: running;
}

@keyframes acknowledge {
  0% {
    opacity: 0;
  }

  6.66% {
    opacity: 1;
  }

  93.33% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }
}
