.c-article {
  &:not(#case-studies){
    .c-article__main {
      a {
        color: $color-blue-56;
        font-family: "bodoni", Georgia, serif;
      }

      h2 {
        font-family: "bodoni", Georgia, serif;
        font-size: 22px;
      }
    }
  }
}

.c-article__header {
  text-align: center;
  padding-top: $wcss-spacing-unit-huge*1.5;
}

.c-article__title {
  @include wcss-font-size(alpha);
  @include wcss-theme-var(color, --tertiary);
  font-family: $font-serif;
  margin: 0;
  transform: translateY(50%);
  margin: 0 auto;
}

.c-article__main {
  display: inline-block;
  width: 100%;
  padding: $wcss-spacing-unit-large $wcss-spacing-unit-small;
  position: relative;
}

#guide {
  .c-article__content {
    @include wcss-media-max(large) {
      padding-top: 60px;
    }
  }
}

.c-article__content {
  max-width: 600px;
  margin: 0 auto;
  color: $color-gray;

  &.p100 {
    padding-top: 100px;
  }

  > * + * {
    margin-top: $wcss-spacing-unit;
  }

  > h1, > h2, > h3, > h4, > h5, > h6 {
    font-family: $font-serif;
  }



  > a {
    @include wcss-theme-var(color, --tertiary);
  }
}

.c-article__content--medium {
  max-width: 1000px;
}

.c-article__content--full {
  max-width: 100%;
}

* + .c-article__content {
  margin-top: $wcss-spacing-unit-large;
}





.c-article__intro {
  @include wcss-font-size(epsilon);
  text-align: center;
  font-weight: bold;
  color: $color-black;
  margin-bottom: $wcss-spacing-unit;
}





.c-article__nav {
  margin: $wcss-spacing-unit-large $wcss-spacing-unit 0 $wcss-spacing-unit;
  list-style: none;
  display: flex;
  flex-wrap: wrap;


  &#top-article-nav {
    @include wcss-media-max(large) {
      display: none;
    }

  }

  &.fixed-nav {
    width: -webkit-calc(100% - 48px);
    width:    -moz-calc(100% - 48px);
    width:         calc(100% - 48px);
    position:fixed;
    top: 4px;
    z-index: 1000;
  }

  &#bottom-article-nav {
    @include wcss-media(large) {
      display: none;
    }
  }

  &:last-child {
    margin-top: 0;
    margin-bottom: $wcss-spacing-unit-large;
  }
}



.c-article__nav + .c-article__main {
  padding-top: 0;
}

.c-article__nav__item {
  flex: 1 1 auto;
  text-align: center;
  margin-bottom: $wcss-spacing-unit-small;

  @include wcss-media(medium) {
    flex: 0 auto;
    margin-bottom: 0;
    text-align: left;

    &.c-article__nav__item--next {
      margin-left: auto;
      text-align: right;
    }
  }
}

.c-article__nav__link {
  text-decoration: none;
  color: $color-gray;
}

.c-article__nav__title {
  @include wcss-font-size(epsilon);
  font-family: $font-serif;
  font-style: italic;
  display: block;
}

.c-article__nav__role {
  @include wcss-font-size(eta);
  text-transform: uppercase;
  display: block;
}


// Backgrounds

.c-article__header--bg-gradient {
  background: var(--primary) linear-gradient(to top, var(--primary), rgba(white, 0.5));
}

.c-article__header--bg-repeater {
  background-color: var(--secondary);
  // background-image: url(../images/bg-repeater.png);
  background-repeat: repeat;
  background-size: 25%;
  background-blend-mode: luminosity;
}
