.c-article {

}

.c-article__header {
  text-align: center;
  padding-top: $wcss-spacing-unit-huge*1.5;
}

.c-article__title {
  @include wcss-font-size(alpha);
  @include wcss-theme-var(color, --tertiary);
  font-family: $font-serif;
  margin: 0;
  transform: translateY(50%);
  margin: 0 auto;
}

.c-article__main {
  display: inline-block;
  width: 100%;
  padding: $wcss-spacing-unit-large $wcss-spacing-unit-small;
  position: relative;
}

.c-article__content {
  max-width: 600px;
  margin: 0 auto;
  color: $color-gray;

  > * + * {
    margin-top: $wcss-spacing-unit;
  }

  > h1, > h2, > h3, > h4, > h5, > h6 {
    font-family: $font-serif;
  }

  > a {
    @include wcss-theme-var(color, --tertiary);
  }
}

.c-article__content--medium {
  max-width: 1000px;
}

.c-article__content--full {
  max-width: 100%;
}

* + .c-article__content {
  margin-top: $wcss-spacing-unit-large;
}

.c-article__intro {
  @include wcss-font-size(epsilon);
  text-align: center;
  font-weight: bold;
  color: $color-black;
  margin-bottom: $wcss-spacing-unit;
}



// Backgrounds

.c-article__header--bg-gradient {
  background: var(--primary) linear-gradient(to top, var(--primary), rgba(white, 0.5));
}

.c-article__header--bg-repeater {
  background-color: var(--secondary);
  background-image: url(../images/bg-repeater.png);
  background-repeat: repeat;
  background-size: 25%;
  background-blend-mode: luminosity;
}
