.c-box {
  display: inline-block;
  width: 100%;
}

.c-box--city {
  background: url("../images/bg-city.jpg") bottom no-repeat;
  background-size: cover;
  //background-blend-mode: overlay;
}

.c-box--map {
  background: url("../images/bg-map.jpg") top no-repeat;
  background-size: cover;
}

.c-box--green {
  background: linear-gradient(top, #d4ecde, #b8d6c4);
}
