.c-box {
  display: inline-block;
  width: 100%;
}

.c-box--city {
  background: url("https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_1425/v1483562376/city-accelerator-website/images/bg-city.jpg") bottom no-repeat;
  background-size: cover;
  //background-blend-mode: overlay;
}

.c-box--map {
  background: url("https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto/v1483562375/city-accelerator-website/images/bg-map.jpg") top no-repeat;
  background-size: cover;
}

.c-box--blue-map {
  background: #24408E url("../images/bg-blue-map.jpg") top no-repeat;
  

  @include wcss-media(msmall) {
    background-size: 100%;
  }

  @include wcss-media-max(msmall) {
    background-position: -350px;
  }
}

.c-box--green {
  background: linear-gradient(top, #d4ecde, #b8d6c4);
}

.c-box--repeater {
  background-color: var(--secondary);
  background-image: url(https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_360/v1483562375/city-accelerator-website/images/bg-repeater.png);
  background-repeat: repeat;
  background-size: 25%;
  background-blend-mode: luminosity;
}
