// BUTTONS

// 1. Allow us to style box model properties.
// 2. Line different sized buttons up a little nicer.
// 3. Make buttons inherit font styles (often necessary when styling `input`s as
//    buttons).
// 4. Reset/normalize some styles.
// 5. Force all button-styled elements to appear clickable.

.c-btn {
  font: inherit; // [3]
  font-weight: bold;

  display: inline-block; // [1]

  margin: 0; // [4]
  padding: $wcss-spacing-unit-small $wcss-spacing-unit;

  cursor: pointer; // [5]
  transition: $wcss-base-transition;
  text-align: center; // [4]
  vertical-align: middle; // [2]
  text-transform: uppercase;

  border: 0;
  border-radius: $wcss-base-radius;

  @include wcss-font-size(eta);
}





// PRIMARY BUTTON

.c-btn--primary {
  color: $color-white;

  @include wcss-theme-var(background, --primary);
}





// SECONDARY BUTTON

.c-btn--secondary {
  @include wcss-theme-var(background, --secondary);
  @include wcss-theme-var(color, --primary);
}




// BLUE BUTTON

.c-btn--blue {
  color: $color-white;
  background: $color-blue;
}




// FULL WIDTH BUTTON

.c-btn--full {
  width: 100%;
}
