// BUTTONS

// 1. Allow us to style box model properties.
// 2. Line different sized buttons up a little nicer.
// 3. Reset/normalize some styles.
// 4. Force all button-styled elements to appear clickable.

.c-btn {
  font-weight: bold;

  display: inline-block; // [1]

  margin: 0; // [3]
  padding: $wcss-spacing-unit-small $wcss-spacing-unit*1.5;

  cursor: pointer; // [4]
  transition: $wcss-base-transition;
  text-align: center; // [3]
  vertical-align: middle; // [2]
  text-transform: uppercase;
  text-decoration: none;

  border: 0;
  border-radius: $wcss-base-radius;

  box-shadow: $base-shadow;

  @include wcss-font-size(eta);

  backface-visibility: hidden;

  &:hover,
  &:focus {
    filter: brightness(110%);
    outline: 0px;
  }
}

button {
  &:hover,
  &:focus {
    outline: 0px;
  }
}





// PRIMARY BUTTON

.c-btn--primary {
  color: $color-white;

  @include wcss-theme-var(background, --primary);
}





// SECONDARY BUTTON

.c-btn--secondary {
  @include wcss-theme-var(background, --secondary);
  @include wcss-theme-var(color, --primary);
}




// BLUE BUTTON

.c-btn--blue {
  color: $color-white;
  background: $color-blue;
}





// GREEN BUTTON

.c-btn--green {
  color: $color-white;
  background: $color-green-77;
}




// GHOST BUTTON

.c-btn--ghost {
  background: transparent;
  color: currentColor;
  box-shadow: inset 0px 0px 0 2px currentColor;

  &:hover,
  &:focus {
    box-shadow: inset 0px 0px 0 4px currentColor;
  }
}



// LARGE BUTTON

.c-btn--large {
  @include wcss-font-size(epsilon);
}



// FULL WIDTH BUTTON

.c-btn--full {
  width: 100%;
}
