// CARD

// Component-specific breakpoints

$card-breakpoint-medium: 850px;
$card-breakpoint-large: 1000px;
$card-mini-max-width: 300px;
$card-thumb-min-height: 250px;
$card-thumb-max-width: 400px;

// BASE CARD STYLING
// 1. Transition for card states
// 2. Crop the content inside following border-radius
// 3. Fix chrome bug where images don't get cropped with overflow: hidden;
// 4. Make the card fill it's parent. Control layout with layout classes.
// 5. Solve flickering issues in Chrome when enabled/disabled.

.c-card {
  display: flex;
  overflow: hidden; // [2]

  width: 100%; // [4]
  height: 100%; // [4]
  margin: 0 auto;

  transition: $wcss-base-transition; // [1]

  border-radius: 3px;
  background: $color-white;
  box-shadow: 0 0 30px 0 rgba($color-black, .10);

  perspective: 1px; // [3]
  flex-wrap: wrap;
  backface-visibility: hidden; // [5]
}

.c-card__cover,
.c-card__inner {
  flex: 1 0 auto;
  flex-basis: 100%;
  margin: 0;
}

// Cover
// 1. Set up a positioning context to crop the image
// 2. Assing a min-height value since our image is absolute-positioned
// 3. Crop crop crop

.c-card__cover {
  position: relative; // [1]

  overflow: hidden; // [3]

  min-height: 150px; // [2]

  @include wcss-media($card-breakpoint-medium) {
    min-height: 250px;
  }
}

// 1. Position cover image
// 2. Make cover image fill the entire space
// 3. Prevent images from stretching too much

.c-card__cover > img,
.c-card__cover > svg {
  position: absolute; // [1]
  top: 50%; // [1]
  left: 50%; // [1]

  min-width: 100%; // [2]
  max-width: none; // [2]
  max-width: 200%; // [3]
  min-height: 100%; // [2]

  transform: translate(-50%, -50%); // [1]
}

.c-card__cover > svg * {
  transition: $wcss-base-transition;
  //transition-delay: 2s;
}

// Inner
// 1. Set up a positioning context for card icon

.c-card__inner {
  position: relative; // [1]

  display: flex;
  flex-direction: column;
}

// Card Title

.c-card__title {
  font-family: $font-serif;
  font-weight: bold;

  margin-bottom: $wcss-spacing-unit-small;

  transition: color .2s;

  @include wcss-theme-var(color, --tertiary);
}

.c-card__title--separated {
  // Separator line at the bottom of card titles
  // 1. Make separator color the same as text color
  // 2. Still make separator color a tad lighter
  &:after {
    position: relative;

    display: block;

    width: 80px;
    height: 1px;
    margin: $wcss-spacing-unit 0;

    content: '';

    opacity: .5; // [2]
    background: currentColor; // [1]
  }
}

// Current Card Text

.c-card__current-card {
  font-family: $font-sans;
  font-weight: bold;

  margin-bottom: $wcss-spacing-unit-small;

  letter-spacing: 1px;
  text-transform: uppercase;

  @include wcss-font-size(eta);
}

// Icon

.c-card__icon.c-card__icon {
  position: relative;

  display: block;

  width: 91px;
  height: 91px;
  margin: -(91px/2) auto 0 auto;
}

// Text

.c-card__text {
  margin-bottom: $wcss-spacing-unit;
  > p {
    margin-bottom: $wcss-spacing-unit-tiny;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Helper Text

.c-card__helper {
  color: $color-light-gray;
  // Separator line on top of helper text
  // 1. Make separator color the same as text color
  // 2. Still make separator color a tad lighter
  &:before {
    position: relative;

    display: block;

    width: 80px;
    height: 1px;
    margin-bottom: $wcss-spacing-unit-small;

    content: '';

    opacity: .5; // [2]
    background: currentColor; // [1]
  }
}

// Links
.c-card__links {
  display: inline-block;
  width: 100%;
  margin: $wcss-spacing-unit 0;
  text-align: right;

  > .c-card__link {
    @include wcss-font-size(eta);
    @include wcss-theme-var(color, --tertiary);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100%;
  }
}



// Actions
// 1. Make items adjust automatically

.c-card__actions {
  display: flex;

  margin-top: auto;

  flex-wrap: wrap;

  > * {
    border-radius: 0 !important; // [1]

    flex: 1 1 auto; // [1]
  }
}

// Card states
// 1. Disable button clicks when disabled
.c-card.is-disabled {
  opacity: .5;

  .c-card__actions {
    pointer-events: none; // [1]
  }
}


// FULL CARD VARIANT

.c-card--full {

  > .c-card__cover {

    @include wcss-media($card-breakpoint-medium) {
      width: 35%;

      flex-basis: 35%;
    }

    @include wcss-media($card-breakpoint-large) {
      width: 25%;

      flex-basis: 25%;
    }
  }

  > .c-card__inner {

    @include wcss-media($card-breakpoint-medium) {
      width: 65%;

      flex-basis: 65%;
    }

    @include wcss-media($card-breakpoint-large) {
      width: 75%;

      flex-basis: 75%;
    }
  }

  // 1. Higher horizontal padding to make space for the card icon
  // 2. Higher top padding for aesthetic purposes
  .c-card__content {
    padding: $wcss-spacing-unit;

    @include wcss-media($card-breakpoint-medium) {
      padding: $wcss-spacing-unit-large; // [1]
    }

    @include wcss-media($card-breakpoint-large) {
      padding: $wcss-spacing-unit-large $wcss-spacing-unit-large * 1.5 $wcss-spacing-unit $wcss-spacing-unit-large * 1.5; // [1]
    }
  }

  // 1. Compensate for card content padding
  // 2. Align icon horizontally in the middle of cover/content
  // 3. Remove mobile top negative margin
  .c-card__icon {

    @include wcss-media($card-breakpoint-medium) {
      position: absolute;
      top: $wcss-spacing-unit; // [1]
      left: 0; // [2]

      margin: 0; // [3]

      transform: translateX(-50%); // [2]
    }
  }

  .c-card__title {
    @include wcss-font-size(beta);
  }

  .c-card__text {
    @include wcss-font-size(zeta);

    > * + * {
      margin-top: $wcss-spacing-unit;
    }
  }

  .c-card__helper {
    @include wcss-font-size(zeta);
  }
}





// MINI CARD VARIANT

.c-card--mini {
  overflow: visible;

  max-width: $card-mini-max-width;

  .c-card__content {
    padding: $wcss-spacing-unit-small;
  }

  .c-card__actions {
    overflow: hidden;

    border-bottom-right-radius: $wcss-base-radius;
    border-bottom-left-radius: $wcss-base-radius;
  }

  .c-card__title {
    margin-bottom: $wcss-spacing-unit-small;

    @include wcss-font-size(delta);
  }

  .c-card__text,
  .c-card__helper {
    @include wcss-font-size(eta);
  }
}



// THUMB VARIANT

.c-card--thumb.c-card--thumb {
  overflow: hidden;
  min-height: $card-thumb-min-height;
  max-width: $card-thumb-max-width;
  color: $color-white;

  > a {
    text-decoration: none;
    color: currentColor;
  }

  .c-card__content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: $wcss-spacing-unit;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
  }

  .c-card__title {
    @include wcss-font-size(delta);
    color: currentColor;
  }

  .c-card__text {
    margin-top: auto;
  }

  .c-card__cover {
    width: 100%;
    margin: 0;
  }
}






// REVERSE VARIANT

.c-card--reverse {
  flex-direction: row-reverse;
}
