// CIRCLE GRAPH
// Based on https://www.smashingmagazine.com/2015/07/designing-simple-pie-charts-with-css/

.c-circle-graph {
  position: relative;

  display: inline-block;

  width: 280px;
  height: 280px;

  text-align: center;

  color: transparent;
  border-radius: 50%;
  background: $color-neutral-95;
  background-image: linear-gradient(to right, transparent 50%, $color-blue 0);
  background-clip: padding-box;
}

@keyframes spin {
  to {
    transform: rotate(.5turn);
  }
}
@keyframes bg {
  50% {
    background: $color-blue;
  }
}

.c-circle-graph::before {
  position: absolute;
  top: 0;
  left: 50%;

  width: 50%;
  height: 100%;

  content: '';
  transform-origin: left;
  animation: spin 50s linear infinite,
  bg 100s step-end infinite;
  animation-play-state: paused;
  animation-delay: inherit;

  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  background-clip: padding-box;
}

.c-circle-graph__content {
  line-height: 200px;

  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;

  width: 230px;
  height: 230px;

  content: '';
  transform: translate(-50%, -50%);

  border-radius: 50%;
  background: $color-white;

  align-items: center;
}

.c-circle-graph__title {
  font-family: $font-serif;

  margin: auto;

  color: $color-blue;

  @include wcss-font-size(gamma);
}
