.c-footer {
  width: 100%;
  padding: $wcss-spacing-unit-large 0;

  text-align: center;

  border-top: 1px solid rgba($color-black, 0.1);
  background: transparent;

  color: $color-gray;
}

.c-footer__text {
  @include wcss-font-size(eta);

  display: inline-block;

  max-width: 600px;
  margin: $wcss-spacing-unit 0 0 0;

  > p:last-child {
    margin-bottom: 0;
  }
}

.c-footer__link {
  @include wcss-font-size(eta);
  color: $color-gray;
  text-decoration: none;
  text-transform: uppercase;
  padding: $wcss-spacing-unit-small;
}

.c-footer__logo {
  max-width: 100px;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: $wcss-base-transition;
  margin: $wcss-spacing-unit-small;

  &:hover,
  &:focus {
    filter: grayscale(0%);
    opacity: 1;
  }
}
