.c-hero {
  @include wcss-rem(max-width, 800px);
  padding: $wcss-spacing-unit-large 0;
  margin: 0 auto;
  min-height: 90vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: $color-white;

  @include wcss-media(large) {
    @include wcss-rem(max-width, 900px);
  }

  @include wcss-media(extra-large) {
    @include wcss-rem(max-width, 1150px);
  }

}

.c-hero__title {
  @include wcss-font-size(beta);
  //text-shadow: 0 1px 4px rgba($color-black, 0.5);
}
.c-hero__sub-title {
  @include wcss-font-size(epsilon);

  @include wcss-media(medium) {
    font-size: 22px;
  }
  
}






.c-hero--contrast {
  color: $color-gray;
}
