// ICON BUTTON

.c-icon-button {
  font-weight: bold;

  width: 60px;
  height: 60px;
  padding: 0;

  cursor: pointer;
  text-align: center;

  border: 0;
  border-radius: $wcss-base-radius;
  box-shadow: 10px 15px 30px rgba($color-black, .5);

  @include wcss-media(medium) {
    width: 60px;
    height: 60px;
  }
  @include wcss-media(large) {
    width: 70px;
    height: 70px;
  }
}

.c-icon-button__icon {
  display: block;

  width: 24px;
  margin: $wcss-spacing-unit-tiny auto;
}

.c-icon-button__text {
  letter-spacing: -1px;
  text-transform: uppercase;

  @include wcss-font-size(theta);
}

.c-icon-button--primary {
  color: $color-white;
  background: $color-blue;
}




// BARE

.c-icon-button--bare {
  color: $color-white;
  background: transparent;
  box-shadow: none;
}
