// LEDE

.c-lede {
  font-family: $font-serif;

  display: inline-block;

  color: $color-light-gray;

  @include wcss-font-size(delta);

  &:after {
    position: relative;

    display: block;
    clear: both;

    width: 80px;
    height: 1px;
    margin: $wcss-spacing-unit 0;

    content: '';

    opacity: .5; // [2]
    background: currentColor; // [1]
  }

  &:empty {
    display: none;
  }

  @media print {
    //font-size: 14px;
    //line-height: 1.2;

    margin: 0 0 $wcss-spacing-unit-small 0;
  }
}

.c-lede--center {
  text-align: center;

  &:after {
    margin: $wcss-spacing-unit auto;
  }
}
