// MODAL

.c-modal {
  background: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  transform: translate(0, 200%);
  will-change: transform;
  transition: transform 0.2s;
  overflow: auto;
}

.c-modal.is-active {
  transform: translate(0, 0);
  z-index: 9999;
  pointer-events: all;
}

// Root state when modal is active

html.is-modal-active {
  overflow: hidden;
}






// MODAL HEADER

.c-modal__header {
  display: block;
  padding: $wcss-spacing-unit-huge 0;
  background: linear-gradient(-180deg, rgba($color-black, 0) 0%, rgba($color-black, 0.7) 79%);
  position: relative;
  overflow: hidden;

  @include wcss-media(large) {
    padding: $wcss-spacing-unit-huge;
  }

  @media print {
    padding: $wcss-spacing-unit;
    background: map-get($theme-blue, tertiary);
  }
}

.c-modal__header__img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;

  @media print {
    display: none;
  }
}

.c-modal__header__title {
  @include wcss-font-size(beta);
  font-family: $font-serif;
  color: $color-white;

  @media print {
    color: map-get($theme-blue, primary);
  }
}

.c-modal__header__description {
  display: inline-block;
  margin: $wcss-spacing-unit 0;
  color: $color-light-gray;

  @media print {
    color: $color-gray;
  }
}


// MODAL ACTIONS

.c-modal__top-actions {
  position: absolute;
  width: 50%;
  top: $wcss-spacing-unit-small;

  @media print {
    display: none;
  }
}

.c-modal__top-actions--left {
  left: $wcss-spacing-unit-small;
  text-align: left;
}

.c-modal__top-actions--right {
  right: $wcss-spacing-unit-small;
  text-align: right;
}