.c-steps {
  display: inline-block;
  width: 100%;
}

.c-steps__list {
  list-style: none;
  display: flex;
  overflow-x: visible;
  padding: 0;
  margin: $wcss-spacing-unit-small 0;
  position: relative;
}

// [1] Accomodate for .c-step__item's padding and .c-step__point height (eyeballed)
.c-steps__list__progress,
.c-steps__list__progress-complete, {
  height: 4px;
  content: '';
  left: 0;
  top: ($wcss-spacing-unit-large + 7px); // [1]
  display: block;
  position: absolute;
}

.c-steps__list__progress {
  width: 100%;
  background: $color-black;
  //box-shadow: inset 0 1px 2px $color-black;

  .t-blue & {
    background: map-get($theme-blue, primary);
  }

  .t-purple & {
    background: map-get($theme-purple, primary);
  }

  .t-green & {
    background: map-get($theme-green, primary);
  }

  .t-neutral & {
    background: map-get($theme-neutral, primary);
  }
}

.c-steps__list__progress-complete {
  background: rgba(0, 0, 0, 0.5);
}

.c-steps__item {
  flex: 1;
  //min-width: 150px;
  padding-top: $wcss-spacing-unit-large;
  position: relative;
  //text-align: center;

  &:first-of-type {
    text-align: left;
  }

  &:last-of-type {
    text-align: right;
  }
}

.c-steps__point {
  width: 16px;
  height: 16px;
  background: $color-black;
  display: inline-block;
  transform: rotate(45deg);
  border-radius: $wcss-base-radius;
  //box-shadow: inset 0 1px 2px $color-black;

  .t-blue & {
    background: map-get($theme-blue, primary);
  }

  .t-purple & {
    background: map-get($theme-purple, primary);
  }

  .t-green & {
    background: map-get($theme-green, primary);
  }

  .t-neutral & {
    background: map-get($theme-neutral, primary);
  }
}

// Item Active State

.c-steps__item.is-active::after {
  background: $color-white;

  // [1] Border is positioned 2px to the outside, 2px to the inside
  .t-blue & {
    border: 2px solid map-get($theme-blue, tertiary); // [1]
    box-shadow: 0 0 0 2px map-get($theme-blue, tertiary); // [1]
  }
}

.c-steps__title {
  @include wcss-font-size(eta);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin: $wcss-spacing-unit-tiny 0;
  width: 100%;
  display: none;

  .t-blue & {
    color: rgba(map-get($theme-blue, primary), 0.5);
    //text-shadow: 0px 1px 1px map-get($theme-blue, secondary), 0 0 0 $color-black, 0px 1px 1px map-get($theme-blue, secondary);
  }

  .t-purple & {
    color: rgba(map-get($theme-purple, primary), 0.5);
    //text-shadow: 0px 1px 1px map-get($theme-purple, secondary), 0 0 0 $color-black, 0px 1px 1px map-get($theme-purple, secondary);
  }

  .t-neutral & {
    color: rgba(map-get($theme-neutral, primary), 0.5);
    //text-shadow: 0px 1px 1px map-get($theme-neutral, secondary), 0 0 0 $color-black, 0px 1px 1px map-get($theme-neutral, secondary);
  }

  .t-green & {
    color: rgba(map-get($theme-green, primary), 0.5);
    //text-shadow: 0px 1px 1px map-get($theme-green, secondary), 0 0 0 $color-black, 0px 1px 1px map-get($theme-green, secondary);
  }

  @include wcss-media(medium) {
    display: inline-block;
  }
}

.c-steps__item.is-active > .c-steps__title {
  color: $color-black;

  .t-blue & {
    color: map-get($theme-blue, tertiary);
  }
}