.c-steps {
  display: inline-block;
  width: 100%;
  position: relative;
}

.c-steps__list {
  list-style: none;
  display: flex;
  overflow-x: visible;
  padding: 0;
  margin: 0;
  position: relative;
}

// [1] Accomodate for .c-step__item's padding and .c-step__point's height (eyeballed)
.c-steps__progress,
.c-steps__progress-complete, {
  height: 4px;
  content: '';
  left: 0;
  top: ($wcss-spacing-unit-large + 7px); // [1]
  display: block;
  position: absolute;
}

.c-steps__progress {
  width: 100%;
  background: $color-black;
  @include wcss-theme-var(background, --primary);
}

.c-steps__progress-complete {
  @include wcss-theme-var(background, --tertiary);
}

.c-steps__item {
  flex: 1;
  //min-width: 150px;
  padding-top: $wcss-spacing-unit-large;
  position: relative;
  text-align: center;

  &:first-of-type {
    text-align: left;
  }

  &:last-of-type {
    text-align: right;
  }
}

.c-steps__point {
  width: 16px;
  height: 16px;
  display: inline-block;
  transform: rotate(45deg);
  border-radius: $wcss-base-radius;
  @include wcss-theme-var(background, --primary);
}

// Step title 

.c-steps__title {
  @include wcss-font-size(eta);
  @include wcss-theme-var(color, --primary);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin: $wcss-spacing-unit-tiny 0;
  width: 100%;
  display: none;

  @include wcss-media(medium) {
    display: inline-block;
  }
}






// Item Active State

.c-steps__item.is-active {

  > .c-steps__point {
    background: $color-white;
    @include wcss-theme-var(border, --tertiary, 2px solid);
    @include wcss-theme-var(box-shadow, --tertiary, 0 0 0 2px);
  }

  > .c-steps__title {
    @include wcss-theme-var(color, --tertiary);
  }
}






// Item Past State

.c-steps__item.is-past {

  > .c-steps__point {
    @include wcss-theme-var(background, --tertiary);
  }

  > .c-steps__title {
    @include wcss-theme-var(color, --tertiary);
  }

}
