$top-nav-height: 90px;

.c-top-nav {
  position: absolute;
  display: inline-block;
  width: 100%;
  color: $color-white;
  z-index: 1;
}

.c-top-nav.c-top-nav + * {
  @include wcss-rem(padding-top, $top-nav-height);
}

.c-top-nav__wrapper {
  @include wcss-rem(height, $top-nav-height);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.c-top-nav__branding {
  margin-right: auto;
  flex: 0 1 50%;
  text-decoration: none;
}

.c-top-nav__title {
  @include wcss-font-size(delta);
  font-family: $font-serif;
  color: $color-white;
  margin-bottom: 0;

  @include wcss-media(xsmall) {
    font-size: 16px;
  }
}

.c-top-nav__toggle {
  margin-left: auto;
  flex: 0 0 auto;
  position: relative;
  z-index: 11;

  @include wcss-media(large) {
    &#{&} {
      display: none;
    }
  }
}

.c-top-nav__menu {
  visibility: hidden;
  flex: 1 0 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  transform: translateY(-200%);
  transition: transform 0.2s;
  pointer-events: none;
  background: $color-blue-80;

  @include wcss-media(large) {
    visibility: visible;
    position: relative;
    flex: 1 1 50%;
    width: auto;
    height: auto;
    transform: none;
    pointer-events: all;
    background: transparent;
  }
}

.c-top-nav__list {
  @extend %o-list-bare;
  position: absolute;
  width: 80vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  margin: 0;
  padding: $wcss-spacing-unit-large 0 0 0;
  overflow: scroll;

  @include wcss-media(large) {
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    top: 0;
    left: 0;
    transform: none;
    overflow: hidden;
    text-align: right;
  }
}

.c-top-nav__item {
  padding: $wcss-spacing-unit-small;
  text-align: center;

  @include wcss-media(large) {
    display: inline-block;
  }
}

.c-top-nav__link {
  @include wcss-font-size(gamma);
  color: $color-white;
  text-decoration: none;
  display: block;

  @include wcss-media(large) {
    @include wcss-font-size(eta);
    text-transform: uppercase;
    color: currentColor;
  }
}

.c-top-nav__toggle {

  z-index: 0;

  &[aria-expanded="true"] {
    color: $color-white;
    z-index: 11;
  }

  @include wcss-media(large) {
    display: none;
  }
}

.c-top-nav__toggle[aria-expanded="true"] ~ .c-top-nav__menu[aria-hidden="false"] {
  visibility: visible;
  transform: translateY(0);
  pointer-events: all;
  z-index: 10;
}




// CONTRAST

.c-top-nav--contrast {
  color: $color-gray;

  .c-top-nav__title {
    color: $color-gray;
  }
}
