// PAGE

// Page-level declarations

// [1] Better font rendering for OSX
html {
  font-size: 100%;

  -webkit-font-smoothing: antialiased; // [1]
  -moz-osx-font-smoothing: grayscale; // [1]

  @include wcss-media(extra-large) {
    font-size: 1.2vw;
  }
}

body {
  font-family: $wcss-base-font-family;
  line-height: $wcss-base-line-height;

  @include wcss-rem(font-size, $wcss-base-font-size);
}

.is-scroll-locked,
.is-scroll-locked body {
  overflow: hidden;
}
