// Mixin to create font-size declarations in rem units with pixel fallbacks.
// Uses the typographic scale set in settings/typography.
//
// .simple-usage {
//   @include wcss-font-size(alpha);
// }

@mixin wcss-font-size($name, $enforce: false) {

  $rule: null;
  $max-size: strip-unit(map-deep-get($wcss-typography-scale, $name, "max"));
  $min-size: strip-unit(map-deep-get($wcss-typography-scale, $name, "min"));

  @if (type-of($name) != string) {
    @error "`#{$name}` needs to be a string.";
  }

  @if ($enforce == true) {
    $rule: !important;
  }

  font-size: #{$max-size * 1px} $rule;
  font-size: calc(#{$min-size * 1px} + (#{$max-size} - #{$min-size}) * (100vw - #{$wcss-typography-min-width*1px} ) / (#{$wcss-typography-max-width} - #{$wcss-typography-min-width}) ) #{$rule};
  line-height: map-deep-get($wcss-typography-scale, $name, "lh");
}